$('#insert_coordinates_train').remove();
$("#insert_train_coordinates").before("<div id='insert_coordinates_train'><input id='x_coordinate' name='training[x_coordinate]' size='30' type='hidden' value='<%=@x%>'><input id='y_coordinate' name='training[y_coordinate]' size='30' type='hidden' value='<%=@y%>'></div>");

