<li class="templ" id="temp_month">

	<div class="outer">
		<div class="inner">
	<div class="month_name"> <%= month.name.mb_chars.upcase %></div>
	
	<div class="month_number">
		/<%= month.number %>
	</div>
	</div>
	</div>
	
</li>