<div class="moncon" onmouseover="hover(this)" onmouseout="out(this)">
    <%= image_tag month.name + '.png', :class=>'w203 look_for', :id => month.name %>
  <div class="monthhover">
    <ul>
      <li class="now">январь</li>
      <li>февраль</li>
      <li>март</li>
      <li>апрель</li>
      <li>май</li>
      <li>июнь</li>
      <li>июль</li>
      <li>август</li>
      <li>сентябрь</li>
      <li>октябрь</li>
      <li>ноябрь</li>
      <li>декабрь</li>
      <li class="year"><span>2013</span></li>
      <li>январь</li>
      <li>февраль</li>
      <li>март</li>
      <li>апрель</li>
      <li>май</li>
      <li>июнь</li>
      <li>июль</li>
      <li>август</li>
      <li>сентябрь</li>
      <li>октябрь</li>
      <li>ноябрь</li>
      <li>декабрь</li>
    </ul>
    </div>
</div>
<script>
$('.monthhover ul li').click(function(){      
      var $elems=$(this).parent().children().filter(function(){ return $(this).children().size()==0; });
      $('#filter').update_index($elems.index(this));  
    });
</script>
