<%= form_tag '/create_resume_from_social_vk', :method => :get, :class => "soc-form", :id=>'vk_form' do %>
 <a href="#" class="popex">&nbsp;</a>
 <span>Введить ваш будущий логин в виде email на которой Вам также поступит пароль.</span>
<br>
  Email
  <%= email_field_tag  'user_email', nil , :class => "inp" %>  
  <span class="error_soc" style="color: #ff0000;"></span>
  <%= submit_tag "Отправить", :class => "sfb" %>
<% end %>