<h1>Список всех информаций о компаниях</h1>

<table>
  <tr>
    <th>Название</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @compinfos.each do |compinfo| %>
  <tr>
    <td><%= compinfo.name %></td>
    <td><%= link_to 'показать', compinfo %></td>
    <td><%= link_to 'редактировать', edit_compinfo_path(compinfo) %></td>
    <td><%= link_to 'удалить', compinfo, confirm: 'Вы уверены?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

