<p id="notice"><%= notice %></p>

<p>
  <b>Название</b>
  <%= @compinfo.name %>
</p>

<p>
  <b>Описание:</b>
  <%= @compinfo.description %>
</p>


<%= link_to 'Редактировать', edit_compinfo_path(@compinfo) %> |
