<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

    <p>
      Хотим представить Вашему вниманию календарь грядущих событий.<br/>
    </p>
    <p>
      ссылка на сайт: careercentr.ru
    </p>
    <p>С уважением, команда цетнра карьеры!</p>
  </body>
</html>