<div class="monih12">
  <% @years.each do |year| %>
    <% @months.each_with_index do |month, index| %>
      <div class='months'><%=month+" "+year%></div>
      <div class='month_events'>     
        <% if EventParent.month(index, year.to_i).count == 0 %>
          <div class="moncon">
            Empty Events
          </div>
        <%else%>
          <% EventParent.month(index, year.to_i).each do |event|%>
            <%= render 'event_calendar', :event => event %>
          <%end%>        
        <%end%>     
      </div>
    <%end%>
  <%end%>  
</div>
<div class="clr"></div>
<div class="clr"></div>

