
<% content_for :head do %>
	<div class="title"><h2>МОЙ КАЛЕНДАРЬ (<%= @user.active_events %>)</h2></div>
<% end %>
<%if current_user == @user %>
	<div id="celendar_content">
		<div class="month_info">
			<h1>
				КАЛЕНДАРЬ 
				<%= @user.resume.name + " " + @user.resume.surname if @user.resume %> 
				<%= @user.compinfo.name if @user.compinfo  %>
			</h1>
		</div>
		<script type="text/javascript">
			$(document).ready(function() {
	    		$(".title_wrap").toggle(function (event) {	
	    			event.preventDefault();
					$(this).parents(".month_title").next().slideUp();

				},function (event) {	
	    			event.preventDefault();
					$(this).parents(".month_title").next().slideDown();
				});
	    	});		    	
		</script>
		<%= render 'actions' %> 
	</div>
<%end%>
<script language="javascript">
  $(function(){
   $('.tv_sizeBig, .fjqtrans, .catsItem, .pchecks, .signature' ).jqTransform();
  });
 </script>
<script type="text/javascript" language="javascript">

	$(".monthcont").click(function () {	

		var id_map = $(this).find('.mapwrap').attr('id'),
			x = $(this).find('#x_coor').val(),
			y = $(this).find('#y_coor').val();
			
		if((x == undefined)||(x == '')){
            x = 59.90802;
            y = 30.330505; 
        }
        
		if($(this).find('.mapwrap').data('type') != 'Grant'){
			google_maps(id_map, x, y);
		}		

		$('.pk_popupcd').css({'display':'none'});
		$(this).children(".pk_popupcd").fadeIn(600);
		var w = ($(this).children(".pk_popupcd").width())/2;
		$(this).children(".pk_popupcd").css({'margin-top':-w});
	});		

	$(".close_popup").click(function () {
		$(this).parent(".pk_popupcd").fadeOut(600);
	});

	$(document).ready(function(){
	   $('.pk_popupcd, .monthcont').click(function(event){
		   event.stopPropagation();
	   });

	}).click(function(){
		$('.pk_popupcd').fadeOut(200);
	});	

	function google_maps(id_map, x, y) {

	 var latlng = new google.maps.LatLng(x,y); // Координаты карты

		var settings = {

			zoom: 12, // Выставляем параметры зума для карты

			center: latlng,

			mapTypeControl: false,

			mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},

			navigationControl: true,

			navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},

			mapTypeId: google.maps.MapTypeId.ROADMAP

		};

		var map = new google.maps.Map(document.getElementById(""+id_map), settings); // Выбираем див куда ставить карту

		var myLatlng = new google.maps.LatLng(x,y);  // Координаты маркера

		var myOptions = {

			zoom: 12,  // Выставляем параметры зума для маркера

			center: myLatlng,

			mapTypeId: google.maps.MapTypeId.ROADMAP

		}  

		var map = new google.maps.Map(document.getElementById(""+id_map), myOptions);  // Выбираем див куда ставить маркер

		var marker = new google.maps.Marker({

		position: myLatlng,

		map: map,

		title: "A"

	  }); 

	}

</script>