<div id="celendar_content">
	<div class="month_info">
		<ul id="myitems" class="items">
			<h1><%= link_to "КАЛЕНДАРЬ", userevents_user_path(@user.id) %> | <%= link_to "СОЗДАННЫЕ МЕРОПРИЯТИЯ", created_event_user_path(@user.id) %></h1>
		</ul>
	</div>
	<% @index = 1%>
	<%
		@years = %w[2012 2013]
		@months =  %w[январь февраль март апрель май июнь июль август сентябрь октябрь ноябрь декабрь]
	%>	
	<% @years.each do |year| %>
		<% @months.each_with_index do |month, index| %>			
			<% if @items.month_user_events(index, year.to_i).count > 0 %>
				<div class="month_title">
	          		<div class="title_wrap">          
	            		<span><%=month+" "+year%></span>          
	          		</div>
	        	</div>
	        	<div class="month_info">				
					<% @items.month_user_events(index, year.to_i).each do |item|%>
						<%= render 'created_event', :item => item, :index => @index %>
						<% @index += 1%>
					<%end%>
				</div>
				<div class="clr"></div>
			<%end%>
		<%end%>
	<%end%>		
	<div class="clr"></div>
	<div class="clr"></div>
</div>
   <!-- Add and delete calendar section -->
      <div class=""></div> 
      <div class="ok-sub-redact calendar_added">
       <span class="ok-sub-redact-title">
        Центр карьеры
        <a href="#" class="av-exit av-popex">&nbsp;</a>
       </span>
       <span>Вы добавили событие в календарь</span>
       <a href="#" class="av-exit avabtn-ok">OK</a>
       <div class="clr"></div>
      </div>

<div class=""></div> 
      <div class="ok-sub-redact calendar_deleted">
       <span class="ok-sub-redact-title">
        Центр карьеры
        <a href="#" class="av-exit av-popex">&nbsp;</a>
       </span>
       <span>Вы удалили событие из календаря</span>
       <a href="#" class="av-exit avabtn-ok">OK</a>
       <div class="clr"></div>
      </div>
       <!-- END add and delete calendar section -->
<script type="text/javascript" language="javascript">
	$(document).ready(function() {
		$(".title_wrap").toggle(function (event) {	
			event.preventDefault();
			$(this).parents(".month_title").next().slideUp();

		},function (event) {	
			event.preventDefault();
			$(this).parents(".month_title").next().slideDown();
		});
	});	

	$(".monthcont").click(function () {
	
		var id_map = $(this).find('.mapwrap').attr('id'),
			x = $(this).find('#x_coor').val(),
			y = $(this).find('#y_coor').val();
			
		if((x == undefined)||(x == '')){
            x = 59.90802;
            y = 30.330505;            
        }
        
		if($(this).find('.mapwrap').data('type') != 'Grant'){
			google_maps(id_map, x, y);
		}		

		$('.pk_popupcd').css({'display':'none'});
		$(this).children(".pk_popupcd").fadeIn(600);
		var scroll = $(window).scrollTop();
        if (scroll > 100) {
          var scrollpl = scroll+100;
          $(this).children(".pk_popupcd").css({'top':scrollpl});
        }	
		//var w = ($(this).children(".pk_popupcd").width())/2;
		//$(this).children(".pk_popupcd").css({'margin-top':-w});
	});		

	$(".close_popup").click(function () {
		$(this).parent(".pk_popupcd").fadeOut(600);
	});

	$(document).ready(function(){
	   $('.pk_popupcd, .monthcont').click(function(event){
		   event.stopPropagation();
	   });

	   $('.signature').on('click', function(){
      var id_event = $(this).attr('id');
      var str; 
      if ($(this).is(':checked')){
        str = 'remove';        
      }
      else{
        str = 'add'
      } 
      $.ajax({ url: "/add_remove_event", type: "POST", data:{ id_event: id_event, str: str},  beforeSend:function(jqXHR, settings) {
                jqXHR.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
                }
      });

      $('.odobreno, .delete').on('click', function(){
			var event_id = $(this).data('id');
			var str;
			$('#'+event_id+'.monthcont').hide();
			if($(this).attr('class') == 'odobreno'){
				str = 'event_status';
			}
			else if($(this).attr('class') == 'delete'){
				str = 'event_delete';
			}
			$.ajax({ url: "/events/"+str, type: "POST", data:{ event_id: event_id},  beforeSend:function(jqXHR, settings) {
                	jqXHR.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
                }
      		});
		});     
    });

	}).click(function(){
		// $('.pk_popupcd').fadeOut(200);
	});

	function google_maps(id_map, x, y) {

	 var latlng = new google.maps.LatLng(x, y); // Координаты карты

		var settings = {

			zoom: 12, // Выставляем параметры зума для карты

			center: latlng,

			mapTypeControl: false,

			mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},

			navigationControl: true,

			navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},

			mapTypeId: google.maps.MapTypeId.ROADMAP

		};

		var map = new google.maps.Map(document.getElementById(""+id_map), settings); // Выбираем див куда ставить карту

		var myLatlng = new google.maps.LatLng(x, y);  // Координаты маркера

		var myOptions = {

			zoom: 12,  // Выставляем параметры зума для маркера

			center: myLatlng,

			mapTypeId: google.maps.MapTypeId.ROADMAP

		}  

		var map = new google.maps.Map(document.getElementById(""+id_map), myOptions);  // Выбираем див куда ставить маркер

		var marker = new google.maps.Marker({

		position: myLatlng,

		map: map,

		title: "A"

	  }); 

	}	
</script></div>
<script language="javascript">
  $(function(){
   $('.tv_sizeBig, .fjqtrans, .catsItem, .pchecks, .signature' ).jqTransform();
  });
 </script>

 <script type="text/javascript">
$(document).ready(function () {

      
      $(".signature").click(function (event) {
        if ($(this).is(':checked')){
          $(".av-redact-bg").fadeIn();
        $(".calendar_deleted").fadeIn();
        $(".calendar_added").fadeOut();
        }
        else{
          $(".calendar_deleted").fadeOut();
        $(".av-redact-bg").fadeIn();
          $(".calendar_added").fadeIn();
        }
     }); 

       $(".av-exit, .avabtn-ok, .av-redact-bg").click(function (event) { 
       $(".av-redact-bg").fadeOut();
       $(".calendar_added").fadeOut();
       $(".calendar_deleted").fadeOut();
     });   
    
     })
</script>
