$('#message_info').remove();
<%if @message == 'Error'%>
$("#change_password").after("<div id='message_info' style='color:red'><%= @message %></div>");
<%else if @message == 'Пароль изменен'%>
$("#change_password").after("<div id='message_info' style='color:green'><%= @message %></div>");
<%else%>
$("#change_password").after("<div id='message_info' style='color:red'><%= @message %></div>");
<%end%>
<%end%>