<div id="content">

<div class="filterMain">

        <script type="text/javascript">

            $(function(){

                $('.fjqtrans, .catsItem, .pchecks').jqTransform();

            });

        </script>

        <%= javascript_include_tag 'sliding' %>

        <div class="filterStaz ffscr">

        <span class="lanelHead sizeBig"><span>Стажировки</span> <span class="fjqtrans"><input type="checkbox" checked name="" id=""></span></span>

        <span class="numerick">140</span>

        <div class="clr"></div>

        <div class="vupad">

        <span class="naming">Сфера</span>



        <div class="samvup sam1">

        <div class="all">ВСЕ</div>

        <div class="allCats">

        <script type="text/javascript">

            $(document).ready(function () {

                $(".catsItem").click(function () {

                    var a =$(this).find(".jqTransformCheckbox").hasClass("jqTransformChecked");

                    if(a){

                        $(this).find(".descripting").addClass("act");

                    } else{

                        $(this).find(".descripting").removeClass("act");

                    };

                });

            });

        </script>

        <div class="catsItem">

          <label>

            <input type="checkbox" name="" id="">

            <span class="descripting">Промышленность, производство</span>

            <div class="clr"></div>

          </label>

        </div>

        <div class="catsItem">

          <label>

            <input type="checkbox" name="" id="">

            <span class="descripting">Промышленность, производство</span>

            <div class="clr"></div>

          </label>

        </div>

        <div class="catsItem">

          <label>

            <input type="checkbox" name="" id="">

            <span class="descripting">Промышленность, производство</span>

            <div class="clr"></div>

          </label>

        </div>

        <div class="catsItem">

          <label>

            <input type="checkbox" name="" id="">

            <span class="descripting">Промышленность, производство</span>

            <div class="clr"></div>

          </label>

        </div>

        <div class="catsItem">

          <label>

            <input type="checkbox" name="" id="">

            <span class="descripting">Промышленность, производство</span>

            <div class="clr"></div>

          </label>

        </div>

        <div class="catsItem">

          <label>

            <input type="checkbox" name="" id="">

            <span class="descripting">Промышленность, производство</span>

            <div class="clr"></div>

          </label>

        </div>

        <div class="catsItem">

          <label>

            <input type="checkbox" name="" id="">

            <span class="descripting">Промышленность, производство</span>

            <div class="clr"></div>

          </label>

        </div>

        <div class="catsItem">

          <label>

            <input type="checkbox" name="" id="">

            <span class="descripting">Промышленность, производство</span>

            <div class="clr"></div>

          </label>

        </div>

        <div class="catsItem">

          <label>

            <input type="checkbox" name="" id="">

            <span class="descripting">Промышленность, производство</span>

            <div class="clr"></div>

          </label>

        </div>

        <div class="catsItem">

          <label>

            <input type="checkbox" name="" id="">

            <span class="descripting">Промышленность, производство</span>

            <div class="clr"></div>

          </label>

        </div>

        <div class="catsItem">

          <label>

            <input type="checkbox" name="" id="">

            <span class="descripting">Промышленность, производство</span>

            <div class="clr"></div>

          </label>

        </div>

        <div class="catsItem">

          <label>

            <input type="checkbox" name="" id="">

            <span class="descripting">Промышленность, производство</span>

            <div class="clr"></div>

          </label>

        </div>

        <div class="catsItem">

          <label>

            <input type="checkbox" name="" id="">

            <span class="descripting">Промышленность, производство</span>

            <div class="clr"></div>

          </label>

        </div>

        </div>

        </div>

        <span class="naming">Компания</span>

        <div class="samvup sam2">

          <div class="all">ВСЕ</div>

          <div class="allCats">

            <script type="text/javascript">

                $(document).ready(function () {
                    $(".descripting, .jqTransformCheckbox").click(function () {
                        $(this).parents(".catsItem").find(".descripting").toggleClass("act");
                    });
                });

            </script>

            <div class="catsItem">

              <label>

                <input type="checkbox" name="" id="">

                <span class="descripting">Промышленность, производство</span>

                <div class="clr"></div>

              </label>

            </div>

            <div class="catsItem">

              <label>

                <input type="checkbox" name="" id="">

                <span class="descripting">Промышленность, производство</span>

                <div class="clr"></div>

              </label>

            </div>

            <div class="catsItem">

              <label>

                <input type="checkbox" name="" id="">

                <span class="descripting">Промышленность, производство</span>

                <div class="clr"></div>

              </label>

            </div>

            <div class="catsItem">

              <label>

                <input type="checkbox" name="" id="">

                <span class="descripting">Промышленность, производство</span>

                <div class="clr"></div>

              </label>

            </div>

            <div class="catsItem">

              <label>

                <input type="checkbox" name="" id="">

                <span class="descripting">Промышленность, производство</span>

                <div class="clr"></div>

              </label>

            </div>

            <div class="catsItem">

              <label>

                <input type="checkbox" name="" id="">

                <span class="descripting">Промышленность, производство</span>

                <div class="clr"></div>

              </label>

            </div>

            <div class="catsItem">

              <label>

                <input type="checkbox" name="" id="">

                <span class="descripting">Промышленность, производство</span>

                <div class="clr"></div>

              </label>

            </div>

            <div class="catsItem">

              <label>

                <input type="checkbox" name="" id="">

                <span class="descripting">Промышленность, производство</span>

                <div class="clr"></div>

              </label>

            </div>

            <div class="catsItem">

              <label>

                <input type="checkbox" name="" id="">

                <span class="descripting">Промышленность, производство</span>

                <div class="clr"></div>

              </label>

            </div>

            <div class="catsItem">

              <label>

                <input type="checkbox" name="" id="">

                <span class="descripting">Промышленность, производство</span>

                <div class="clr"></div>

              </label>

            </div>

            <div class="catsItem">

              <label>

                <input type="checkbox" name="" id="">

                <span class="descripting">Промышленность, производство</span>

                <div class="clr"></div>

              </label>

            </div>

            <div class="catsItem">

              <label>

                <input type="checkbox" name="" id="">

                <span class="descripting">Промышленность, производство</span>

                <div class="clr"></div>

              </label>

            </div>

            <div class="catsItem">

              <label>

                <input type="checkbox" name="" id="">

                <span class="descripting">Промышленность, производство</span>

                <div class="clr"></div>

              </label>

            </div>

          </div>

        </div>

        <div class="clr"></div>

        </div>

        <div class="pchecks">

          Оплата:

          <span class="opl"><input type="checkbox" name="" id="">Неоплачиваемая</span>

          <span class="opl"><input type="checkbox" name="" id="">оплачиваемая</span>

        </div>

        </div>

        <div class="filterSob ffscr">

        <span class="lanelHead sizeBig"><span>События</span> <span class="fjqtrans"><input type="checkbox" checked name="" id=""></span></span>

        <span class="numerick">15</span>

        <div class="vupad">

        <span class="naming">Сфера</span>

        <div class="samvup sam1">

          <div class="all">ВСЕ</div>

          <div class="allCats">

            <div class="catsItem">

              <label>

                <input type="checkbox" name="" id="">

                <span class="descripting">Промышленность, производство</span>

                <div class="clr"></div>

              </label>

            </div>

            <div class="catsItem">

              <label>

                <input type="checkbox" name="" id="">

                <span class="descripting">Промышленность, производство</span>

                <div class="clr"></div>

              </label>

            </div>

            <div class="catsItem">

              <label>

                <input type="checkbox" name="" id="">

                <span class="descripting">Промышленность, производство</span>

                <div class="clr"></div>

              </label>

            </div>

            <div class="catsItem">

              <label>

                <input type="checkbox" name="" id="">

                <span class="descripting">Промышленность, производство</span>

                <div class="clr"></div>

              </label>

            </div>

            <div class="catsItem">

              <label>

                <input type="checkbox" name="" id="">

                <span class="descripting">Промышленность, производство</span>

                <div class="clr"></div>

              </label>

            </div>

            <div class="catsItem">

              <label>

                <input type="checkbox" name="" id="">

                <span class="descripting">Промышленность, производство</span>

                <div class="clr"></div>

              </label>

            </div>

            <div class="catsItem">

              <label>

                <input type="checkbox" name="" id="">

                <span class="descripting">Промышленность, производство</span>

                <div class="clr"></div>

              </label>

            </div>

            <div class="catsItem">

              <label>

                <input type="checkbox" name="" id="">

                <span class="descripting">Промышленность, производство</span>

                <div class="clr"></div>

              </label>

            </div>

            <div class="catsItem">

              <label>

                <input type="checkbox" name="" id="">

                <span class="descripting">Промышленность, производство</span>

                <div class="clr"></div>

              </label>

            </div>

            <div class="catsItem">

              <label>

                <input type="checkbox" name="" id="">

                <span class="descripting">Промышленность, производство</span>

                <div class="clr"></div>

              </label>

            </div>

            <div class="catsItem">

              <label>

                <input type="checkbox" name="" id="">

                <span class="descripting">Промышленность, производство</span>

                <div class="clr"></div>

              </label>

            </div>

            <div class="catsItem">

              <label>

                <input type="checkbox" name="" id="">

                <span class="descripting">Промышленность, производство</span>

                <div class="clr"></div>

              </label>

            </div>

            <div class="catsItem">

              <label>

                <input type="checkbox" name="" id="">

                <span class="descripting">Промышленность, производство</span>

                <div class="clr"></div>

              </label>

            </div>

          </div>

        </div>

        <div class="pchecks">

          <span class="opl"><input type="checkbox" name="" id="">Научные конференции</span>

          <span class="opl"><input type="checkbox" name="" id="">Карьерные события</span>

        </div>

        <div class="clr"></div>

        </div>

        </div>

        <div class="filterGran ffscr">

        <span class="lanelHead sizeBig"><span>Гранты</span> <span class="fjqtrans"><input type="checkbox" checked name="" id=""></span></span>

        <span class="numerick">39</span>
        <div class="vupad">

          <span class="naming">Сфера</span>

          <div class="samvup sam1">

            <div class="all">ВСЕ</div>

            <div class="allCats">

              <div class="catsItem">

                <label>

                  <input type="checkbox" name="" id="">

                  <span class="descripting">Промышленность, производство</span>

                  <div class="clr"></div>

                </label>

              </div>

              <div class="catsItem">

                <label>

                  <input type="checkbox" name="" id="">

                  <span class="descripting">Промышленность, производство</span>

                  <div class="clr"></div>

                </label>

              </div>

              <div class="catsItem">

                <label>

                  <input type="checkbox" name="" id="">

                  <span class="descripting">Промышленность, производство</span>

                  <div class="clr"></div>

                </label>

              </div>

              <div class="catsItem">

                <label>

                  <input type="checkbox" name="" id="">

                  <span class="descripting">Промышленность, производство</span>

                  <div class="clr"></div>

                </label>

              </div>

              <div class="catsItem">

                <label>

                  <input type="checkbox" name="" id="">

                  <span class="descripting">Промышленность, производство</span>

                  <div class="clr"></div>

                </label>

              </div>

              <div class="catsItem">

                <label>

                  <input type="checkbox" name="" id="">

                  <span class="descripting">Промышленность, производство</span>

                  <div class="clr"></div>

                </label>

              </div>

              <div class="catsItem">

                <label>

                  <input type="checkbox" name="" id="">

                  <span class="descripting">Промышленность, производство</span>

                  <div class="clr"></div>

                </label>

              </div>

              <div class="catsItem">

                <label>

                  <input type="checkbox" name="" id="">

                  <span class="descripting">Промышленность, производство</span>

                  <div class="clr"></div>

                </label>

              </div>

              <div class="catsItem">

                <label>

                  <input type="checkbox" name="" id="">

                  <span class="descripting">Промышленность, производство</span>

                  <div class="clr"></div>

                </label>

              </div>

              <div class="catsItem">

                <label>

                  <input type="checkbox" name="" id="">

                  <span class="descripting">Промышленность, производство</span>

                  <div class="clr"></div>

                </label>

              </div>

              <div class="catsItem">

                <label>

                  <input type="checkbox" name="" id="">

                  <span class="descripting">Промышленность, производство</span>

                  <div class="clr"></div>

                </label>

              </div>

              <div class="catsItem">

                <label>

                  <input type="checkbox" name="" id="">

                  <span class="descripting">Промышленность, производство</span>

                  <div class="clr"></div>

                </label>

              </div>

              <div class="catsItem">

                <label>

                  <input type="checkbox" name="" id="">

                  <span class="descripting">Промышленность, производство</span>

                  <div class="clr"></div>

                </label>

              </div>

            </div>

          </div>

          <div class="clr"></div>

        </div>

        <div class="pchecks" style="left:0;">
          Цели
          <span class="opl"><input type="checkbox" name="" id="">Цель 1</span>
          <span class="opl"><input type="checkbox" name="" id="">Цель 2</span>
          <span class="opl"><input type="checkbox" name="" id="">Цель 3</span>
          <span class="opl"><input type="checkbox" name="" id="">Цель 4</span>
          <span class="opl"><input type="checkbox" name="" id="">Цель 5</span>
          <span class="opl"><input type="checkbox" name="" id="">Цель 6</span>

        </div>

        </div>

</div>
<div class="clr"></div>

<div class="clr"></div>

<div class="clr"></div>

</div>