$('#insert_coordinates').remove();
$(".isideleft").before("<div id='insert_coordinates'><input id='x_coordinate' name='event[x_coordinate]' size='30' type='hidden' value='<%=@x%>'><input id='y_coordinate' name='event[y_coordinate]' size='30' type='hidden' value='<%=@y%>'></div>");

