<div id='content'>
	<h1>Страница Администратора</h1>
	</br>
	<%= link_to "CФЕРЫ", list_areas_path %> |
	<%= link_to "НЕОДОБРЕННЫЕ МЕРОПРИЯТИЯ (#{@count})", not_approved_events_path, :title=>"not_approved" %> |
<%= link_to "РЕДАКТИРОВАНИЕ СТРАНИЦ", pages_path %>
	<div id="celendar_content">
		<div class="monih12">
			<div class="month_info">
				<% @index = 1%>
				<% @items.each do |item|%>
					<%= render 'not_approved', :item => item, :index => @index %>
					<% @index += 1%>
				<%end%>
			</div>
			<div class="clr"></div>		
		</div>
		<div class="clr"></div>
		<div class="clr"></div>
	</div>
</div>
<script type="text/javascript" language="javascript">

	$(".monthcont").click(function (arg) {
		var id_map = $(this).find('.mapwrap').attr('id'),
			x = $(this).find('#x_coor').val(),
			y = $(this).find('#y_coor').val();
			
		if((x == undefined)||(x == '')){
            x = 59.90802;
            y = 30.330505;
        }
       
		if($(this).find('.mapwrap').data('type') != 'Grant'){
			google_maps(id_map, x, y);
		}		

		$('.pk_popupcd').css({'display':'none'});
		$(this).children(".pk_popupcd").fadeIn(600);
		var w = ($(this).children(".pk_popupcd").width())/2;
		$(this).children(".pk_popupcd").css({'margin-top':-w});				
	});		

	$(".close_popup").click(function () {
		$(this).parent(".pk_popupcd").fadeOut(600);
	});

	$(document).ready(function(){
	   $('.pk_popupcd, .monthcont').click(function(event){
	   	   event.stopPropagation();		
	   });

	   $('.signature').on('click', function(){
	      var id_event = $(this).attr('id');
	      var str; 
	      if ($(this).is(':checked')){
	        str = 'remove';
	      }
	      else{
	        str = 'add'
	      }	       
	      $.ajax({ url: "/add_remove_event", type: "POST", data:{ id_event: id_event, str: str},  beforeSend:function(jqXHR, settings) {
	                jqXHR.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
	                }
	      });
	  });

      $('.odobreno, .delete').on('click', function(e){
      	e.preventDefault();
      	var event_id = $(this).data('id');
		var str;
		
		if($(this).attr('class') == 'odobreno'){
			if (confirm("Опубликовать событие?")) {
				  str = 'event_status';
				  $('#'+event_id+'.monthcont').hide();
				} else {
					if (e.stopPropagation) { // существует ли метод?
					    // Стандартно:
					    e.stopPropagation();
					  } else {
					    // Вариант IE
					    e.cancelBubble = true;
					  }
				  str = "";
				}
			//str = 'event_status';
		}
		else if($(this).attr('class') == 'delete'){
			str = 'event_delete';
			 $('#'+event_id+'.monthcont').hide();
		}
		if (str.length > 0)
		{
		$.ajax({ url: "/events/"+str, type: "POST", data:{ event_id: event_id},  beforeSend:function(jqXHR, settings) {
            	jqXHR.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
            				}
  		}).done(function (result) {
                          var count_str = $("#content").find("[title='not_approved']").html();
                          var regex = /[0-9]{1,4}/ ;
                          var sign = regex.exec(count_str);
                          sign -=1;
                          $("#content").find("[title='not_approved']").html("НЕОДОБРЕННЫЕ МЕРОПРИЯТИЯ ("+sign+")");
                        })	
		}
	  });

	}).click(function(){
		$('.pk_popupcd').fadeOut(200);
	});

	function google_maps(id_map, x, y) {

	 var latlng = new google.maps.LatLng(x, y); // Координаты карты

		var settings = {

			zoom: 12, // Выставляем параметры зума для карты

			center: latlng,

			mapTypeControl: false,

			mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},

			navigationControl: true,

			navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},

			mapTypeId: google.maps.MapTypeId.ROADMAP

		};

		var map = new google.maps.Map(document.getElementById(""+id_map), settings); // Выбираем див куда ставить карту

		var myLatlng = new google.maps.LatLng(x, y);  // Координаты маркера

		var myOptions = {

			zoom: 12,  // Выставляем параметры зума для маркера

			center: myLatlng,

			mapTypeId: google.maps.MapTypeId.ROADMAP

		}  

		var map = new google.maps.Map(document.getElementById(""+id_map), myOptions);  // Выбираем див куда ставить маркер

		var marker = new google.maps.Marker({

		position: myLatlng,

		map: map,

		title: "A"

	  }); 

	}	
</script>
<script language="javascript">
  $(function(){
   $('.tv_sizeBig, .fjqtrans, .catsItem, .pchecks, .signature' ).jqTransform();
  });
 </script>