<div id='content'>
	<div id="celendar_content">
		<div class="monih12">
			<div class="month_info">
				<% @items.each do |item|%>
					<%= render 'not_approved', :item => item %>
				<%end%>
			</div>
			<div class="clr"></div>		
		</div>
		<div class="clr"></div>
	</div>
</div>
<script>
	$(document).ready(function(){
		$('.odobreno, .delete').on('click', function(){
			var event_id = $(this).data('id');
			var str;
			$('#'+event_id+'.monthcont').hide();
			if($(this).attr('class') == 'odobreno'){
				str = 'event_status';
			}
			else if($(this).attr('class') == 'delete'){
				str = 'event_delete';
			}
			$.ajax({ url: "/events/"+str, type: "POST", data:{ event_id: event_id},  beforeSend:function(jqXHR, settings) {
                	jqXHR.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
                }
      		});
		});		
	});
</script>