<%= tinymce_javascript_tag "pages", "advanced" %>
<div id="content">
	<%= render 'admin_panel', :count => @count%>
	<h1>Новая страница</h1>
	<%= render 'form' %>
	<%= link_to 'К списку страниц', pages_path %>
</div>

