<h3>Страница Администратора</h1>
	</br>
	<%= link_to "CФЕРЫ", list_areas_path %> |
	<%= link_to "НЕОДОБРЕННЫЕ МЕРОПРИЯТИЯ (#{count})", not_approved_events_path %> |
<%= link_to "РЕДАКТИРОВАНИЕ СТРАНИЦ", pages_path %>
</br>
<script>
$(function () {
                $('.fjqtrans, .catsItem, .pchecks').jqTransform();
            });
</script>