<%= form_for(@area) do |f| %>
  <div class="field">
    <%= f.label "Название" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit "Отправить" %>
  </div>
<% end %>
