<div id='content'>
	<p id="notice"><%= notice %></p>

	<p>
	  <b>Название:</b>
	  <%= @area.name %>
	</p>


	<%= link_to 'Редактировать', edit_area_path(@area) %> |
	<%= link_to 'К списку сфер', list_areas_path %>
</div>
