<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Спасибо за регистрацию!</p>

<p>Здравствуйте, <%= @user.name =%> !</p>

<p>Для того чтобы закончить регистрацию и приступить к составлению своего собственного календаря Вам присвоены логин и пароль на нашем сайте. Их необходимо использовать при первом входе на сайт, далее они могут быть изменены в <%= raw @link %></p>

<p>логин: <%= @user.email %><br />
пароль: <%= @user.password %></p>

<p>С уважением,<br />
http://careercenter.ru</p>
  </body>
</html>