<div class="moncon">
  <div class="monthcont yel">
    <span><%= Russian::l grant.start_date, :format => :short %></span>
    <span class="spright"></span>
    <img src="images/contimg4.png" alt="">
    <span><%= grant.title %></span>
    <span class="spright">14:00</span>
    <span class="spsize">GeekPicnic</span>
    <div class="clr"></div>
  </div>
</div>