/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
/* reset */
html,body,div,span,h1,h2,h3,h4,b,u,i,s,em,form,fieldset,label,legend,input,button,textarea,a,p,table,caption,tbody,thead,tr,th,td, ul, li, ol{margin:0;padding:0;outline:none;}
table {border-collapse:collapse;border-spacing:0; font-size:inherit;font:100%;}
fieldset,img {border:0;}
caption,th,td{text-align:left;}
ul,ol{list-style: none}
input,button,textarea,select,em,th,optgroup,option {font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
/* global styles */

html, body {height:100%; color: #58595b}
body{font: 13px Helvetica,sans-serif;} /*background: #4B93D6*/
a {text-decoration: none; color: black;}
a:hover{ color: #444;}
#container{min-height:100%;min-width:1100px;position:relative;overflow:hidden}

#content_top{
  height: 185px;
}
.login {
  width:100%;
  background-image: url(/assets/1.png);
  background-size: 100%;
  text-align: center;
  font-size: 15px;
  height: 25px;
}

#content-body{margin:0 auto;width:1230px; position: relative;z-index: 2; padding-bottom: 100px}
#content-footer{color: #77a38a; z-index: 10; position: absolute; bottom: 30px; left: 50%; margin: 0 0 0 -610px; width: 1230px; height: 30px; padding: 20px 0 15px}
#footer-links{color: #77a38a; z-index: 10; position: absolute; bottom: 0; left: 0; margin: 0; width: 100%; height: 30px; padding: 0}


.top-border{border-top-color: #77a38a; border-top-style: solid; border-top-width: 2px;}
.right-border{ border-right-color: #77a38a; border-right-style: solid; border-right-width: 2px; padding-left: 20px; padding-right: 20px;}

.for_space{display: inline-block; width: 100px; height: 20px;}
.link1 {display: inline; padding-top: 9px; padding-bottom: 7px; height: 30px; padding-left: 170px;}
.link {display: inline; padding-top: 9px; padding-bottom: 7px; height: 30px;}
.link6 {display: inline; line-height: 30px; padding-left: 10px;}
.link a{color:#77a38a;}
.link a:hover{color:black;}

.header {height: 155px;}
.logo { 
  position: absolute; 
  background-image: url(/assets/logo.png); 
  top: 0; left:65px; 
  height: 200px; width: 200px; 
  background-size: contain;
}
.social{
  position: absolute;
  background-image: url(/assets/icons.png); 
  top:55px; left:240px; 
  height: 150px; width: 150px; 
}

.create_links a{text-decoration: none;}
.create_links{
  height: 20px;
  width: 800px;
  position: absolute;
  top: 157px;
  left: 485px;
  display: none;
  font-size: 17px;
}
.cr{
  display: inline-block;
  height: 20px;
  width: 150px;
  /*border: 1px solid;*/
  margin-right: 40px;
  text-align: center;
  color: black;
}
.cr_select{  background-image: url(/assets/rotate.png); background-size: 100%; color: white;}
.cr a{  width: 150px;}

.registration {
  position: absolute; 
  top: 65px; right: 98px;
  border: 2px solid #e3e3e3;
  /*padding-left: 30px ;*/
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  width: 135px;
  height: 50px;

}

.comp-button{
  position: absolute; 
  top: 65px; right: 435px;
  border: 2px solid #e3e3e3;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  width: 200px;
  height: 50px;
  z-index: 100;
}
.person-button{
  position: absolute; 
  top: 65px; right: 235px;
  border: 2px solid #e3e3e3;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  width: 200px;
  height: 50px;
  z-index: 100;

}
.rselected{
  box-shadow:  0px 0px 5px #444;
  -webkit-box-shadow:  0px 0px 5px #444;
  -moz-box-shadow:  0px 0px 5px #444;

  color: black;
}

.h{display: none;}
.reg-buttons{font-size: 14px; display: none; color:#e3e3e3;}

.buttons div:hover {background-color: #e8fff1; color: black;cursor: pointer;}
.add {
  position: absolute; 
  top: 125px; right: 98px;
  border: 2px solid #e3e3e3;
  /*padding-left: 30px;*/
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  width: 135px;
  height: 50px;

} 
.add_select{background-color: #7fa986;}

.search_button{text-align: center;}
.search_button input{
  width: 100%;
  margin-top: 5px;
  /*margin-left: 12px;*/
  background-color: #fff !important;
  border-color: #c3c3c3;
  height:25px;

}
.search_button input:hover{background-color: #e8ddd1; color: black; cursor: pointer;}

.trainings{
  margin-top: 5px;
  width: 100%;
  background-image: url(/assets/stag.png);
  background-size: 100%;
  /*height: 85px;*/
}
.events{
  width: 100%;
  margin-top: 5px;
  background-image: url(/assets/event.png);
  background-size: 100%;
  /*height: 80px;*/
}
.grants{
  width: 100%;
  margin-top: 5px;
  background-image: url(/assets/grant.png);
  background-size: 100%;
  /*height: 80px;*/
  color:white;
}

#new_training{margin-top: -19px;}
#new_event{margin-top: -19px;}
#new_grant{margin-top: -19px;}
.simple_form{
  position: relative;
  margin-top: 10px;
  background-image: url(/assets/1.png);
  background-size: 100%;
  background-color: #77af77;
  font-size: 16px;
  height: 100%;
}
.name_form{font-size: 16px; position: absolute; top: 10px; left: 10px; color: white;}
.input{ margin: 10px 0 0 10px;}
.first_field{padding-top: 40px; width: 98%;}
.first_field input{width: 89%; margin-left: 4px;}
.btn{
  position: absolute;
  bottom: 10px;
  right: 15px;
  width: 150px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #96b977;
  font-size: 20px
}
/* edit and create new item*/
label.control-label{  padding-right: 10px; }

#event_nation{  margin-left: 25px;  width: 287px;}
#training_nation{  margin-left: 25px;  width: 287px;}
#grant_nation{  margin-left: 25px;  width: 558px;}

#event_city{margin-left: 33px; width: 287px;}
#training_city{margin-left: 33px; width: 287px;}

.strt{float: left;}
#event_street{margin-left: 32px; width: 188px;}
#training_street{margin-left: 32px; width: 188px;}

.house label{ margin-left: 10px; padding-right: 5px;}
#event_building{width: 42px;}
#training_building{width: 42px;}

#event_place{margin-left: 32px; width: 288px;}
#training_place{margin-left: 32px; width: 288px;}

#event_start_date_1i{margin-left: 23px;}
#training_start_date_1i{margin-left: 23px;}
#grant_start_date_1i{margin-left: 23px;}

#event_end_date_1i{margin-left: 35px;}
#training_end_date_1i{margin-left: 35px;}
#grant_end_date_1i{margin-left: 35px;}
.datetime select{ margin-right: 9px; margin-left: 9px;}

#event_hyperlink{width:334px;}
#training_hyperlink{width:334px;}
#grant_hyperlink{width:334px;}

#event_request_date_1i{ margin-left: 17px;}
#training_request_date_1i{margin-left: 17px;}

.checkbox input {margin: 0 5px 0 15px;}
.check_boxes label.control-label{padding-right: 30px;}

#event_kind__{margin-bottom: 15px;}
#training_salary_type_{margin-bottom: 15px;}

.end_point label.control-label{padding-right: 42px; }
#grant_end_point__{margin-bottom: 45px;}

/*show item*/
.evshow{ border-top: 3px solid #76a38a ; border-left: 3px solid #76a38a; border-right: 3px solid #76a38a; border-bottom: 15px solid #76a38a;}
.grshow{ border-top: 3px solid #333f3f ; border-left: 3px solid #333f3f; border-right: 3px solid #333f3f; border-bottom: 15px solid #333f3f;}
.trshow{ border-top: 3px solid #c9db57 ; border-left: 3px solid #c9db57; border-right: 3px solid #c9db57; border-bottom: 15px solid #c9db57;}
.yellow_letter{color: #c9db57; font-size: 20px; margin-top: 15px; margin-bottom: 5px;}
.black_letter{color: #333f3f; font-size: 20px; margin-top: 15px; margin-bottom: 5px;}
.green_letter{color: #76a38a; font-size: 20px; margin-top: 15px; margin-bottom: 5px;}
.evshow table {margin-left: 20px; }
.trshow table {margin-left: 20px; }
.grshow table {margin-left: 20px; }
.item_title{padding-left: 20px;}
.evimage{width: 500px; }
img { width: 540px;}
.lcolumn{ width: 50%; vertical-align: top;} /* position: absolute; top: 30px; left: 0px;}*/
.rcolumn{ width: 40%; vertical-align: top;}/* position: absolute; top: 30px; right: 0px;}*/
.lcolumn2{ width: 43%; vertical-align: top; } /* position: absolute; top: 30px; left: 0px;}*/
.rcolumn2{ width: 42%; vertical-align: top;}/* position: absolute; top: 30px; right: 0px;}*/
table.test{/*border: 2px solid red;*/}
.eventimage img{width: 150px;}
.eventimage {padding-right: 20px;}

#items{

}
.templ{
  width: 240px; height: 215px; 
  border-left:1px solid; border-right:1px solid; border-top:1px solid; border-bottom:3px solid; 
  padding: 20px 20px 0; margin: 12px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

ul#myitems li#temp_month{
  height: 20px; width: 115%;
  background-image: url(/assets/1.png);
  background-size: 101%;
  margin-left: -95px;
  padding: 10px 10px 10px 95px;
  border:  none;
}
ul#myitems h1 {font-size: 30px; color: #c9db57; padding-bottom: 10px; font-family: sans-serif;}
ul#myitems li#temp_month .month_name{font-size: 18px;}
ul#myitems li#temp_month .month_number{display: none;}

.temp_date{float:left;}
.temp_type{float:right;}
.temp_img img{width:238px; height: 145px;}
.temp_img {text-align: center; height: 163px;}
.temp_name{font-size: 20px; padding-top: 5px;}
.month_name {font-size: 48px;}
.month_number {font-size: 148px;padding: 95px 0 0 0;text-align: right;font-family: sans-serif;}
.temp_training{color:#c9db57;border-color:#c9db57}
.temp_event{color:#76a38a;border-color:#76a38a;}
.temp_grant{color:#333f3f;border-color:#333f3f;}



.month_number{color:#c9db57;}

.for_clear{clear:left;}

#popup-wrap{
  position: absolute;
  z-index: 100;
}

.grant-popup{
  width: 1080px;
  min-height: 600px;
  top: 184px;
  right: 100px;
}

.show-popup{
  width: 1080px;
  min-height: 400px;
  top: 200px;
  right: 140px;
  background-color: white;
}

.inactive{
  position: fixed;
  min-height: 900px;
  left: 0;
  top: 0;
  z-index: 50;
  opacity: 0.9;
  background-color: black;
}

#close{
  padding-left: 4px;
  padding-right: 4px;
  position: absolute;
  top:10px;
  right: 10px;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
  color: white;
  background-color: #e74949;
  -moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
}

#close:hover{
  font-size: 18px;
  color: white;
  background-color: #e74949;
  -moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
   box-shadow: 0px 0px 5px #e74949;
  -webkit-box-shadow: 0px 0px 5px #e74949;
  -moz-box-shadow: 0px 0px 5px #e74949;
}

.reg-select{
  background-color: #7fa986;
  background-image: url(/assets/3.jpg);
  /*background-size: 100%;*/
  background-repeat: repeat-y;
  color: white;
}


.reg-popup{
  width: 537px;
  min-height: 110px;
  top: 117px;
  right: 98px;
  background-color: white;
  border: 2px solid #e3e3e3;
  overflow-y: hidden;
}
.reg-inputs{width: 400px; margin-left: 20px; margin-top: 10px;}
/*.reg-popup label {float: left; margin: 5px;}
.reg-popup input {float: right;margin: 5px;}*/
.reg-popup .for_clear{ height: 10px;}
.reg-popup div label{float:left; display: inline-block;}
.reg-popup div input{float:right;display: inline-block;}
.reg-popup .submit{text-align: center;}
.reg-popup .submit input{
  width: 100%;
  background-color: #7fa986;
  background-image: url(/assets/3.jpg);
  background-size: 101%;
  color: white;
  cursor: pointer;
}

.menu label.mnl{color: white; font-size: 25px; margin-top: 5px; margin-left: 10px;}
.mnl span {float: left; margin: 10px 0 10px 10px;}
.mn {margin-top: 16px;};
.menu div{margin: 5px 0 0 10px;}
.menu{font-size: 15px; color: black}
.menu .select{color: #76a38a;}
.select{position: relative;width:450px; display:inline-block; margin-right: 15px;}
.area-label-name{display: inline-block; margin-left: 10px; line-height: 6px;}
.area-label{
  width:490px; margin:-8px 0 -8px 10px; text-align: center;
  background-color: white; /*border:1px solid black*/; cursor: pointer;
}
.drop-area-label{
  color: inherit; margin: 0; text-align: center;
}
.dropdown{
  width:490px; display: none; z-index: 10;
  position: absolute; top: -8px; left:10px; 
  background-color: white;/*border: 1px solid black; border-top: none;*/
  box-shadow: 0px 0px 10px gray;
  -webkit-box-shadow: 0px 0px 10px gray;
  -moz-box-shadow: 0px 0px 10px gray;
}
.dropdown label{width:100%; display: block; font-size: 13px;}
/*.search_training div.check_boxes label{float:left;}*/
.dropdown .checkbox input {margin: 10px 10px 0 0;}
.dropdown .checkbox label[input:checked] {color: black;}


.ard{border:1px solid #c9db57;}
.ardc{border:1px solid #c9db57;}
.arde{border:1px solid #76a38a;}

.shadow{
  box-shadow:  0px 0px 5px #444;
  -webkit-box-shadow:  0px 0px 5px #444;
  -moz-box-shadow:  0px 0px 5px #444;
}
.evtype{display: inline-block; margin-left: 35px; padding-bottom: 10px;}
.evtype .input{margin: 0 0 0 10px;}
.search_grant .input{margin: 0 0 0 10px; padding-bottom: 10px;}
.search_training .input{ padding-bottom: 10px;}
.search_training .control-label{color: white;}
.padd{padding-left: 65px;}

#resume .simple_form{
  background-color: white;
  background-image: none;
  color: black;
}

#resume .input {padding-left: 40px;}
.line {height: 2px; width: 900px; background-color: #D9EB67; margin-top: 10px; margin-bottom: 10px;}
#resume a.edit{margin-left: 50px;}
#resume label{float: left; line-height: 19px; width:150px;}
#resume input{  width:600px;}
#resume input.radio_buttons{  width:15px;}
#resume .edu label{float: left; line-height: 19px; width:215px; padding-left: 160px;}
#resume .edu input{  width:375px;}
#resume .email label{float: left; line-height: 19px; width:240px; text-align: right;}
#resume .email input{  width:510px;}
#resume .tel label{float: left; line-height: 19px; width:240px;}
#resume .tel input{  width:510px;}
#resume .boolean label{width: 600px;}
#resume .boolean input{width: 15px; float:right;}
#resume .btn{
  background-color: #333F3F;
  position: static;
  width: 100%;
  height: 25px;
  color: white;
  line-height: 25px;
  margin-top: 10px;
}

#resume-show {width: 940px; font-size: 17px}
#resume .sms-label label {width: 310px;}

#resume-show .line {height: 2px; width: 900px; background-color: #D9EB67; margin-top: 10px; margin-bottom: 10px;}
#resume-show label{margin-left: 50px; line-height: 19px; width:200px; color:#76a38a;display: inline-block;}
#resume-show .dv{line-height: 19px;  width:600px; display: inline-block; margin-bottom: 10px;}
#resume-show label.edu {padding-left: 200px;}
#resume-show div.edu {  width:400px;}
#resume-show label.email {width: 575px;float: left;}
#resume-show div.checkbox {  width:19px;height: 19px; }
#resume-show label.sms {width: 300px;}
#resume-show div.edu {  width:400px;}
#resume-show .for_new_line{ display: block; padding: 0; margin: 0;}
#resume-show label.email-show {width: 245px;text-align: right; }
#resume-show div.show {  width:400px; padding-left: 20px;}
#resume-show label.phone-show {width: 245px;}
#resume-show a{padding-left: 50px;}

#login {display: inline-block;}
#login-form {display: inline-block;}
#login-form form {display: inline-block;}
.vline{width: 1px; height: 25px; display: inline-block; background-image: url(/assets/black_line.jpg); line-height: 25px;}
.text-to-right{text-align: right; margin-right: 10px; line-height: 25px;}

.checkbox img {width: 20px; height: 20px; border: none;}

.menu label.checkbox{position: relative; padding-left: 20px;padding-right: 15px;}
.menu label.checkbox input{position: absolute; left: -9000px;}
.menu label.checkbox {background: url(/assets/ltlchkbx.png) no-repeat; }
/*.menu label.checkbox {background-position: 0 -19px;}*/
.active{
  background: url(/assets/bigchkbx.png) no-repeat 0 -20px; 
  width: 19px !important; height: 19px !important; margin: 0; padding: 0; 
  display: inline-block;
}
.inact{
  background: url(/assets/bigchkbx.png) no-repeat 0 3px; 
  width: 19px; height: 19px; margin: 0; padding: 0;
  display: inline-block;
}

.menu .mnl {position: relative; margin-left: 20px; background: url(/assets/ltlchkbx.png) no-repeat;}
.mnl input{position: absolute; left: -9000px;}
.mnl span.chkimg{background: url(/assets/bigchkbx.png) no-repeat; width: 19px; height: 19px; margin-top: 10px;}

.show-page{ padding: 10px; font-size: 16px;}
.show-page h1{ color: #76a38a; padding-bottom: 15px;}

.MCE {margin-left: 50px; width: 764px;}
.MCE table {width: 100% !important;}
.mceIframeContainer {width: 760px;}

.not-visible{position: absolute; left: -9000px;}

.item-map #geo-map-zone{height: 240px; }
.item-map #geo-map{height: 240px;}
#popup-wrap table {position: relative}
.item-map {position: absolute; bottom: 20px;}
.lcolumn2 .item-map {position: static; }

.inline{display: inline-block;}
label.error {color: red;}

.red-border{outline: 2px solid red;}