.fs-map-zone{position: relative; z-index: 2; margin: -10px 0 0}
#save-panel{padding: 5px; background: #f2f2f2; position: relative; z-index: 1; margin: -36px 0 10px}
#map-userpic{position: absolute; top: 50%; width: 48px; padding: 6px; height: 66px; left: 50%;margin: -78px 0 0 -30px; z-index: 10; background:  url("i/marker-user.png")}
#search-area{position: absolute; top: 3px; z-index: 10; right: 0}
#search-area input{width: 150px; padding: 4px; position: relative; top: -1px}
.geomap{width: 440px; height: 239px; background-color: #f2f2f2; position: relative; overflow: hidden}
#geomap-info{position: absolute; top: 40px; left: 50%; margin:  0 0 0 -115px; width: 230px; z-index: 10}
.geomap-info-title{font-size: 15px; padding: 0 0 5px; border-bottom: 1px solid #e8e8e8; margin: 0 0 5px}
.geomap-info-title img{margin: 0 5px 0 0}
.geomap-info-content{padding: 0 0 10px;}
#geomap-title .fs-edit-anketa{top: 1px; vertical-align: top;}
.geomap-block{margin: 0 0 5px;}
.geomap-block img{position: relative; top: 2px; margin: 0 3px 0 0}
.geomap-block .geomap-distance{color: #f15a2a}

#geomap-overlay{position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 5}
#stylesheet-geo{display: none}
#geo-map-zone{overflow: hidden; height: 380px; width:430px; position: relative; float: right;margin-right: 23px; margin-top: 10px;}
#geo-map{height: 380px; width:430;}