@import "mix.less";
@import "variables.less";
@import "structure.less";
@import "radio_chek.less";
@import "select.less";
@import "header.less";
@import "footer.less";
@import "content.less";
@import "popup.less";

.filterMain{
	.lanelHead{
		font-size:20px;
		color:white;
		text-transform: uppercase;
		display: inline-block;
		span{
			float:left;
		}
	}
	.numerick{
		color: black;
		font-size: 12px;
		line-height: 10px;
		position:absolute;
		top:0;
		right:0;
		display:none;
		padding-left:4px;
		background:white;
	}
	.filterStaz{
		height:60px;
		padding:10px;
		background:url(../images/stazur_bg.png);
		margin-bottom:5px;
		position: relative;
		.vupad{
			margin-bottom: 5px;
			span.naming{
				color:black;
				font-size:12px;
				display:inline-block;
				text-transform: uppercase;
				float:left;
				line-height: 14px;
				padding-right:5px;
			}
			.sam1{
				width:363px;
				.all{
					background-image:url(../images/arrdwn.png);
					background-position: 342px 4px;
					background-repeat: no-repeat;
				}
				&.act{
					box-shadow:2px 2px 3px -1px #eee;
					width:361px;
					border:1px solid #c9db57;
				}
			}
			.sam2{
				width:329px;
				.all{
					background-image:url(../images/arrdwn.png);
					background-position: 306px 4px;
					background-repeat: no-repeat;
				}
				&.act{
					box-shadow:2px 2px 3px -1px #eee;
					width:327px;
					border:1px solid #c9db57;
				}
				span.descripting{
					width:293px !important;
				}
			}
			.samvup{
				margin-right:5px;
				display: inline-block;
				float:left;
				height:15px;
				background:white;
				position:relative;

				.all{
					color:#77a48b;
					width:100%;
					height:15px;
					line-height:15px;
					text-transform: uppercase;
					text-align:center;
					cursor:pointer;
					position:relative;
					z-index:6;
					&.act{
						background-image:url(../images/arrup.png);
						&:hover{
							background-image:url(../images/arruph.png);
						}
					}
					&:hover{
						background-image:url(../images/arrdwnh.png);
					}
				}
				.allCats{
					box-shadow:2px 2px 3px -1px #eee;
					position:absolute;
					z-index:5;
					width:100%;
					background:white;
					text-transform: none;
					border:1px solid #c9db57;
					border-top: none;
					left: -1px;
					display:none;
					.catsItem{
						padding:7px;
						min-height:11px;
						span.descripting{
							color:#354242;
							font-size:11px;
							float:right;
							width:330px;
							display: inline-block;
							line-height:14px;
							cursor:pointer;
							&.act{
								color:#77a48b;
							}
						}
						
					}
				}
			}
		}
		.pchecks{
			color:white;
			text-transform: uppercase;
			font-size:12px;
			.opl{
				color:black;
				display: inline-block;
				margin: 0 9px;
				font-size:11px;
				span{
					width:11px;
					height:11px;
					float: left;
					position: relative;
					top: 4px;
					left: -6px;
				}
			}
		}
	}
	.filterSob{
		height:40px;
		padding:10px;
		background:url(../images/sobut_bg.png);
		margin-bottom:5px;
		position: relative;
		.pchecks{
			color:white;
			text-transform: uppercase;
			font-size:12px;
			position: relative;
			top: -3px;
			left: -4px;
			.opl{
				color:black;
				display: inline-block;
				margin: 0 27px 0 9px;
				font-size:11px;

				span{
					width:11px;
					height:11px;
					float: left;
					position: relative;
					top: 4px;
					left: -6px;
				}
			}
		}
		.vupad{
			span.naming{
				color:black;
				font-size:12px;
				display:inline-block;
				text-transform: uppercase;
				float:left;
				line-height: 14px;
				padding-right:5px;
			}
			.sam1{
				width:363px;
				.all{
					background-image:url(../images/arrdwn.png);
					background-position: 342px 4px;
					background-repeat: no-repeat;
				}
				&.act{
					box-shadow:2px 2px 3px -1px #eee;
					width:361px;
					border:1px solid #c9db57;
				}
			}
			.sam2{
				width:329px;
				.all{
					background-image:url(../images/arrdwn.png);
					background-position: 306px 4px;
					background-repeat: no-repeat;
				}
				&.act{
					box-shadow:2px 2px 3px -1px #eee;
					width:327px;
					border:1px solid #c9db57;
				}
				span.descripting{
					width:293px !important;
				}
			}
			.samvup{
				margin-right:5px;
				display: inline-block;
				float:left;
				height:15px;
				background:white;
				position:relative;

				.all{
					color:#77a48b;
					width:100%;
					height:15px;
					line-height:15px;
					text-transform: uppercase;
					text-align:center;
					cursor:pointer;
					position:relative;
					z-index:2;
					&.act{
						background-image:url(../images/arrup.png);
						&:hover{
							background-image:url(../images/arruph.png);
						}
					}
					&:hover{
						background-image:url(../images/arrdwnh.png);
					}
				}
				.allCats{
					box-shadow:2px 2px 3px -1px #eee;
					position:absolute;
					z-index:1;
					width:100%;
					background:white;
					text-transform: none;
					border:1px solid #c9db57;
					border-top: none;
					left: -1px;
					display:none;
					.catsItem{
						padding:7px;
						min-height:11px;
						span.descripting{
							color:#354242;
							font-size:11px;
							float:right;
							width:330px;
							display: inline-block;
							line-height:14px;
							cursor:pointer;
							&.act{
								color:#77a48b;
							}
						}
					}
				}
			}
		}
	}
	.filterGran{
		height:40px;
		padding:10px;
		background:url(../images/grantu_bg.png);
		margin-bottom:5px;
		position: relative;
		.pchecks{
			color:white;
			text-transform: uppercase;
			font-size:12px;
			position: relative;
			top: -3px;
			left: -4px;
			.opl{
				color:white;
				display: inline-block;
				margin: 0 15px 0 9px;
				font-size:11px;

				span{
					width:11px;
					height:11px;
					float: left;
					position: relative;
					top: 4px;
					left: -6px;
				}
			}
		}
	}
}

.bbg {
	.bg('bbg.png');
	position:fixed;
	width: 100%;
	height: 100%;
	z-index: 100;
	display: none;
}
.bbgvisible {
	display: block;
}

.regWup {
	display:none;
	width:100px;
	height:1px;
	position:relative;
	top: -97px;
	right: -750px;
	z-index:102;
	
	div.regUp{
		width:430px;
		border: 1px solid #eee;
		position: absolute;
		top:0;
		right:0;
		background:white;
		
		.controls{
			display: inline-block;
			width: 166px;
			border-right: #EEE 1px solid;
			height: 35px;
			border-bottom: #EEE 1px solid;
			line-height: 35px;
			text-align: center;
			font-family: verdana;
			color: #666;
			font-size: 12px;
			float:left;
			cursor:pointer;
			&:hover, &.active{
				color:black;
				background:url(../images/reg_contr_hover.png) no-repeat bottom;
			}
		}
	}
}
.eddWup {
	display:none;
	width:850px;
	height:1px;
	position:relative;
	top: -6px;
	right: 0px;
	z-index:102;
	
	div.eddUp{
		width:850px;
		border: 1px solid #eee;
		position: absolute;
		top:0;
		right:0;
		background:#9cbd73;
		background: -moz-linear-gradient(-45deg,  #c9db57 0%, #77a48b 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#c9db57), color-stop(100%,#77a48b)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(-45deg,  #c9db57 0%,#77a48b 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(-45deg,  #c9db57 0%,#77a48b 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(-45deg,  #c9db57 0%,#77a48b 100%); /* IE10+ */
		background: linear-gradient(135deg,  #c9db57 0%,#77a48b 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9db57', endColorstr='#77a48b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	

		.control {
			margin-right: 97px;
		}
		.controls{
			display: inline-block;
			width: 166px;
			border-right: #EEE 1px solid;
			height: 35px;
			border-bottom: #EEE 1px solid;
			line-height: 35px;
			text-align: center;
			font-family: verdana;
			color: #666;
			font-size: 12px;
			float:right;
			cursor:pointer;
			background-color: #fff;
			.pr;
			top: -36px;
			&:hover, &.active{
				color:black;
				background: #fff url(../images/reg_contr_hover.png) no-repeat bottom;
			}
		}
	}
}
.regWupact {
	display: block;
}
.eddWupact {
	display: block;
}
.nav {
	.cont {
		display: none;
	}
	.visible {
		display: block;
	}
}
.navregister form {
 width: 430px;
	
	span {
		width: 150px;
	}
}

.navadd {

	form {
		padding: 8px 9px;
		
		.stext {
			font-size: 12px;
			line-height: 12px;
			margin-bottom: 5px;
			color: #ffffff;
			margin-bottom: 10px;
		}
		
		.label {
			font-size: 12px;
			color: #000;
			margin: 0;
		}
		.name {
			width: 740px;
			.fr;
			margin-bottom: 5px;
		}	
		.leftpart {
			.fl;
			width: 548px;
			
			textarea {
				.fr;
				width: 456px;
				height: 150px;
				resize: none;
				.bd(#c8c8c8);
				padding: 2px 5px;
				margin-bottom: 5px;
			}
			.siteaddress {
				.fr;
				width: 282px;
			}
			.datesel300 {
				.fr;
				width: 321px;
				margin-bottom: 5px;
			}
			
			.ws37 {
				width: 37px;
				.fl;
				margin-right: 5px;
			}
			.ws88 {
				width: 88px;
				.fl;
				margin-right: 5px;
			}
			.ws65 {
				width: 65px;
				.fl;
				margin-right: 5px;
			}
			
			.isideleft {
				width: 348px;
				.fl;
				margin-bottom: 5px;
			}
			
			.isideright {
				.fr;
				width: 188px;
				margin-bottom: 5px;
				height: 120px;
			}
			
		}
		.rightpart {
			.fr;
			width: 265px;
			
			.photo {
				width: 261px;
				height: 183px;
				overflow: hidden;
				text-align: center;
			}
		}
		
		.add {
			.fr;
			margin-bottom: 15px;
			a {
				font-size: 25px;
				color: #000;
				.tdn;
				&:hover {
					.tdu;
				}
			}
		}
		
		.manycheck {
			.pchecks {
				.fl;
				
				.opl {
					.fl;
					line-height: 29px;
					margin-left: 5px;
					margin-top: -2px;
					
					span {
						.fr;
						margin-top: 9px;
					}
				}
				.nopaid {
					.bgn('nopaid2.png');
					background-position: left center;
					padding-left: 23px;
				}
				.paid {
					.bgn('paid.png');
					background-position: left center;
					padding-left: 23px;
					margin-left: 10px;
				}
			}		
		}
	}
}

input, textarea {
	outline: none;
}
form {

 span {
  
  line-height: 25px;
  display: inline-block;
  margin-left: 20px;
  margin-top: 10px;
 }
 .spanmin {
  line-height: 13px;
  margin-bottom: -10px;
 }
 input {
  width: 220px;
  border: 1px solid #c8c8c8;
  margin-top: 0px;
  padding: 2px 5px;
 }
 .yourlogo {
  float: right;
  width: 230px;
  height: 230px;
  margin-top: 5px;
  margin-right: 29px;
 }
 .submitbtn {
  display: block;
  width: 430px;
  height: 27px;
  border: none;
  cursor: pointer;
  color: #fff;
  background: url(../images/404bg.png);
  background-size: cover;
  margin-top: 20px;
 }
 
 .regtype {
	color: #77a188;
	font-size: 12px;
	padding-left: 22px;
	margin-top: 10px;
	
	img {
		margin-right: 5px;
	}
 }
}

.input_info{
	.sep{
			width: 610px;
			height: 1px;
			.bgc(#c6d857);
			margin-top: 10px;
			margin-bottom: 10px;
		}
	.tv_sizeBig{
		>span{
			.fl;
		}
	}
	.info_row{
		padding-top: 5px;
		span{
			.fl;
			width: 145px;
			line-height: 22px;
			padding-left: 10px;
		}
		.input_field{
			width: 435px;
			.fl;
			textarea{
				.bd(#c9c9c9);
				width:423px;
				padding: 5px;
				height: 100px;
				resize: none;
			}
			input{
				height: 17px;
				line-height: 17px;
				.bd(#c9c9c9);
				padding: 0 5px;
				margin-right: 5px;
			}
			.sub_info_row{
				padding-top: 5px;
				input{
					.fr;
					margin-right: 0px;
				}
			}
		}
		button {
			margin-top: 10px;
			border: none;
			width: 100%;
			height: 12px;
			padding: 1px 0;
			line-height: 12px;
			background: #354242;
			border: 1px solid #919898;
			text-align: center;
			font-size: 10px;
			color: #c7d957;
			cursor: pointer;
			
			&:hover {
			color: #fff;
			}
		}
	}
}



