<div id="content">
  <div class="input_info">
    <div class="info_row">
      <span>ИМЯ</span>
      <div class="input_field">
        <input style="width:423px;" type="text" name="" id="">
      </div>
      <div class="clr"></div>
    </div>
    <div class="info_row">
      <span>ФАМИЛИЯ</span>
      <div class="input_field">
        <input style="width:423px;" type="text" name="" id="">
      </div>
      <div class="clr"></div>
    </div>
    <div class="info_row">
      <span>ПОЛ</span>
      <div class="clr"></div>
    </div>
    <div class="info_row">
      <span>ДАТА РОЖДЕНИЯ</span>
      <div class="input_field">
        <input style="width:15px;" type="text" name="" id="" maxlength="2">
        <input style="width:15px;" type="text" name="" id="" maxlength="2">
        <input style="width:40px;" type="text" name="" id="" maxlength="4">
      </div>
      <div class="clr"></div>
    </div>
    <div class="info_row">
      <span>МЕСТО ЖИТЕЛЬСТВА</span>
      <div class="input_field">
        <input style="width:423px;" type="text" name="" id="">
      </div>
      <div class="clr"></div>
    </div>
    <div class="sep"></div>

    <div class="info_row">
      <span>ОБРАЗОВАНИЕ</span>
      <div class="input_field">
        <input style="width:423px;" type="text" name="" id="">
        <div class="sub_info_row">
          ВУЗ <input style="width:280px;" type="text" name="" id="">
          <div class="clr"></div>
        </div>
        <div class="sub_info_row">
          ФАКУЛЬТЕТ <input style="width:280px;" type="text" name="" id="">
          <div class="clr"></div>
        </div>
        <div class="sub_info_row">
          ДАТА ОКОНЧАНИЯ <input style="width:280px;" type="text" name="" id="">
          <div class="clr"></div>
        </div>
      </div>
      <div class="clr"></div>
    </div>

    <div class="sep"></div>
    <div class="info_row">
      <span>ОПЫТ РАБОТЫ</span>
      <div class="input_field">
        <div class="sub_info_row">
          КОМПАНИЯ 1 <input style="width:280px;" type="text" name="" id="">
          <div class="clr"></div>
        </div>
        <div class="sub_info_row">
          <div class="fl">С <input style="width:180px;" type="text" name="" id="" class="fl"></div>
          <div class="fl">ПО <input class="fl" style="width:180px;" type="text" name="" id=""></div>
        </div>
        <div class="sub_info_row">
          ДОЛЖНОСТЬ <input style="width:280px;" type="text" name="" id="">
          <button>ДОБАВИТЬ</button>
          <div class="clr"></div>
        </div>

      </div>
      <div class="clr"></div>
    </div>

    <div class="sep"></div>

    <div class="info_row">
      <span>ОПИСАНИЕ СЕБЯ</span>
      <div class="input_field">
        <textarea></textarea>
      </div>
      <div class="clr"></div>
    </div>

    <div class="sep"></div>




    <div class="tv_sizeBig">
      <span>ПОДПИСАТЬСЯ НА РАССЫЛКУ ПО ИНТЕРЕСУЮЩИМ МЕНЯ СФЕРАМ</span>
      <input type="checkbox" name="" id="">
      <div class="clr"></div>
    </div>
    <div class="info_row">
      <div class="sub_info_row">
        <span>&nbsp;</span>E-MAIL <input style="width:375px;" type="text" name="" id="">
      </div>
    </div>
    <div class="clr"></div>
    <div class="sep"></div>
    <div class="tv_sizeBig">
      <span>ПОДПИСАТЬСЯ НА SMS-РАССЫЛКУ</span>
      <input type="checkbox" name="" id="">
      <div class="clr"></div>
    </div>
    <span>ВАШ МОБИЛЬНЫЙ ТЕЛЕФОН &nbsp;&nbsp;&nbsp;&nbsp;</span><input style="width:375px;" type="text" name="" id="">
    <div class="clr"></div>
    <div class="sep"></div>
    ИЗМЕНИТЬ ПАРОЛЬ
    <div class="clr"></div>
    <div class="info_row">
      <button>СОХРАНИТЬ</button>
    </div>
  </div>
</div>