<a href="http://vkontakte.ru/share.php?url=<%= request.fullpath %>" title="Опубликовать ссылку во ВКонтакте" onclick="window.open(this.href, 'Опубликовать ссылку во Вконтакте', 'width=800,height=300'); return false" class="share"><img src="/assets/lvk.png"  /></a>

<a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.fullpath %>" title="Опубликовать ссылку в Facebook" onclick="window.open(this.href, 'Опубликовать ссылку в Facebook', 'width=640,height=436,toolbar=0,status=0'); return false" class="share">
<img src="/assets/lfb.png" />
</a>