<!DOCTYPE HTML>

<html lang="en-US">

<head>

  <meta charset="UTF-8" />

  <title></title>

  <!--main css was generated with less-->

  <%= stylesheet_link_tag 'style' %>

  <link rel="stylesheet" href="fonts/fonts.css">

  <!-- main JS library.-->

  <%= javascript_include_tag 'jquery' %>

  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

  <script src="http://maps.googleapis.com/maps/api/js?sensor=true" type="text/javascript"></script>

</head>

<body>

<div class="bbg"></div>

<div id="wrapper">

<div id="headerWrap">

<div class="headerup">

  <div class="headerupwrap">

    <img src="images/api(141x31).png" alt="">

    <span class="enter"><a href="#">ВОЙТИ</a></span>

    <script type="text/javascript">

        $(document).ready(function () {

            $(".enter").click(function () {

                $("#autorization").css({'display':'block'});

                $(".enter").css({'visibility':'hidden'});

            });

        });

    </script>

    <form id="autorization">

      <span>ЛОГИН</span>

      <input type="text">

      <span>ПАРОЛЬ</span>

      <input type="password">

      <input type="submit" value="OK" class="sub">

      <div class="clr"></div>

    </form>

  </div>

</div>

<header>

<script type="text/javascript">

    $(document).ready(function () {

        $(".samvup .all").click(function () {

            var a =$(this).hasClass("act");

            if(a){

                $(this).removeClass("act").next().slideUp().parents(".samvup").removeClass("act");

            } else{

                $(this).addClass("act").next().slideDown().parents(".samvup").addClass("act");

            };

        });

    });

</script>



<a href="#"><img src="images/logo(76x47).png" alt="" class="logo"></a>

<a href="#" class="soc socmarg"><img src="images/fb.png" alt=""></a>

<a href="#" class="soc"><img src="images/tw.png" alt=""></a>

<a href="#" class="soc"><img src="images/vk.png" alt=""></a><br>

<span class="city">ГОРОД: </span><a href="#">Санкт-Петербург</a>



<script type="text/javascript">

    $(document).ready(function () {

        $("#headerWrap .reg").click(function(){

            //newaddd

            $('.eddWup').toggleClass('eddWupact');

            $('.eddWup').removeClass('eddWupact');

            $('.bbg').removeClass('bbgvisible');

            //newadd end



            $(this).toggleClass('btnactiv');

            $('.regWup').toggleClass('regWupact');

            $('.bbg').toggleClass('bbgvisible');

        });



        $("#headerWrap .edd").click(function(){

            //$('.regWup').hide();

            $(this).toggleClass('btnactiv');

            $('.eddWup').toggleClass('eddWupact');

            $('.bbg').toggleClass('bbgvisible');

        });

    });

</script>



<button class="button reg">РЕГИСТРАЦИЯ</button>

<div class="regWup">

  <div class="regUp">

    <div class="nav navregister">

      <div class="control">

        <p class="controls active">компания</p>

        <p class="controls">молодой специалист</p>

        <div class="clr"></div>

      </div>

      <div class="tabsformsblock">

        <div class="cont visible">

          <form>

            <span>НАЗВАНИЕ КАМПАНИИ</span><input type="text">

            <span>ЛОГОТИП</span><img src="images/formlogobg.png" class="yourlogo" alt="">

            <div class="clr"></div>

            <span>ГОРОД</span><input type="text">

            <span>УЛИЦА</span><input type="text">

            <span>ДОМ</span><input type="text">

            <span class="spanmin">КОНТАКТНАЯ  ИФНОМРАЦИЯ</span><input type="text">

            <span>ССЫЛКА НА САЙТ</span><input type="text">

            <span>E-MAIL</span><input type="text">

            <br>

            <br>

            <br>

            <span>ПАРОЛЬ</span><input type="password">

            <span>ПАРОЛЬ ЕЩЕ РАЗ</span><input type="password">

            <input type="submit" value="ЗАРЕГИСТРИРОВАТЬСЯ" class="submitbtn">

          </form>

        </div>

        <div class="cont">

          <form>

            <div class="regtype">

              регистрация через <a href=""><img src="images/facebook2.png" alt="" /></a><a href=""><img src="images/vkontakte.png" alt="" /></a>

            </div>

            <span>ИМЯ</span><input type="text">

            <span>ФАМИЛИЯ</span><input type="text">

            <span>ГОРОД</span><input type="text">

            <span>E-MAIL</span><input type="text">

            <span>ПАРОЛЬ</span><input type="password">

            <span>ПАРОЛЬ ЕЩЕ РАЗ</span><input type="password">

            <input type="submit" value="ЗАРЕГИСТРИРОВАТЬСЯ" class="submitbtn">

          </form>

        </div>

      </div>

    </div>

  </div>

</div>

<button class="button edd">ДОБАВИТЬ</button>

<div class="eddWup">

<div class="eddUp">

<div class="nav navadd">

<div class="control">

  <p class="controls active">ГРАНТ</p>

  <p class="controls" id="map4init">СОБЫТИЕ</p>

  <p class="controls" id="map5init">СТАЖИРОВКУ</p>

  <div class="clr"></div>

</div>

<script type="text/javascript" src="js/selectbox.js"></script>

<script type="text/javascript">

    jQuery(function () {

        jQuery("#selectday, #selectmonth, #selectyear, #selecthour, #selectminute").selectbox();

    });

</script>



<div class="tabsformsblock">

<div class="cont visible">

<form>

<span class="label">НАЗВАНИЕ</span><input type="text" class="name">

<div class="leftpart">

<span class="label">ОПИСАНИЕ</span>

<textarea name="" id=""></textarea>

<div class="clr"></div>



<span class="label">ССЫЛКА НА САЙТ ИЛИ РЕГИСТРАЦИЮ</span>

<input type="text" class="siteaddress">

<div class="clr"></div>



<span class="label">СРОКИ ПОДАЧИ ЗАЯВОК</span>

<div class="datesel300">

<div class="ws37">

  <select name="select_id0" id="selectday">

    <option value="opt_val_1">01</option>

    <option value="opt_val_2">02</option>

    <option value="opt_val_3">03</option>

    <option value="opt_val_4">04</option>

    <option value="opt_val_4">05</option>

    <option value="opt_val_4">06</option>

    <option value="opt_val_4">07</option>

    <option value="opt_val_4">08</option>

    <option value="opt_val_4">09</option>

    <option value="opt_val_4">10</option>

    <option value="opt_val_4">11</option>

    <option value="opt_val_4">12</option>

    <option value="opt_val_4">13</option>

    <option value="opt_val_4">14</option>

    <option value="opt_val_4">15</option>

    <option value="opt_val_4">16</option>

    <option value="opt_val_4">17</option>

    <option value="opt_val_4">18</option>

    <option value="opt_val_4">19</option>

    <option value="opt_val_4">20</option>

    <option value="opt_val_4">21</option>

    <option value="opt_val_4">22</option>

    <option value="opt_val_4">23</option>

    <option value="opt_val_4">24</option>

    <option value="opt_val_4">25</option>

    <option value="opt_val_4">26</option>

    <option value="opt_val_4">27</option>

    <option value="opt_val_4">28</option>

    <option value="opt_val_4">29</option>

    <option value="opt_val_4">30</option>

  </select>

</div>



<div class="ws88">

  <select name="select_id0" id="selectmonth">

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

  </select>

</div>



<div class="ws65">

  <select name="select_id0" id="selectyear">

    <option value="opt_val_1">2012</option>

    <option value="opt_val_1">2012</option>

    <option value="opt_val_1">2012</option>

    <option value="opt_val_1">2012</option>

    <option value="opt_val_1">2012</option>

    <option value="opt_val_1">2012</option>

    <option value="opt_val_1">2012</option>

  </select>

</div>



<span style="float: left; margin: 0 8px">ДО</span>



<div class="ws37">

  <select name="select_id0" id="selecthour">

    <option value="opt_val_1">01</option>

    <option value="opt_val_2">02</option>

    <option value="opt_val_3">03</option>

    <option value="opt_val_4">04</option>

    <option value="opt_val_4">05</option>

    <option value="opt_val_4">06</option>

    <option value="opt_val_4">07</option>

    <option value="opt_val_4">08</option>

    <option value="opt_val_4">09</option>

    <option value="opt_val_4">10</option>

    <option value="opt_val_4">11</option>

    <option value="opt_val_4">12</option>

    <option value="opt_val_4">13</option>

  </select>

</div>



<div class="ws37" style="margin: 0">

  <select name="select_id0" id="selectminute">

    <option value="opt_val_1">01</option>

    <option value="opt_val_2">02</option>

    <option value="opt_val_3">03</option>

    <option value="opt_val_4">04</option>

    <option value="opt_val_4">05</option>

    <option value="opt_val_4">06</option>

    <option value="opt_val_4">07</option>

    <option value="opt_val_4">08</option>

    <option value="opt_val_4">09</option>

    <option value="opt_val_4">10</option>

    <option value="opt_val_4">11</option>

    <option value="opt_val_4">12</option>

    <option value="opt_val_4">13</option>

  </select>

</div>

</div>

<div class="clr"></div>



<span class="label" style="float:left">СТРАНА:</span>

<input type="text"class="countpk" />

<div class="clr"></div>

</div>

<div class="rightpart">

  <span class="label">ФОТО:</span>

  <div class="photo">

    <img src="images/photo.png" alt="" />

  </div>

</div>

<div class="clr"></div>

<div class="manycheck">

  <span class="label fl">СФЕРА:</span>

  <div class="samvup sam1 sampkl">

    <div class="all">ВСЕ</div>

    <div class="allCats">

      <script type="text/javascript">

          $(document).ready(function () {

              $(".catsItem").click(function () {

                  var a =$(this).find(".jqTransformCheckbox").hasClass("jqTransformChecked");

                  if(a){

                      $(this).find(".descripting").addClass("act");

                  } else{

                      $(this).find(".descripting").removeClass("act");

                  };

              });

          });

      </script>

      <div class="catsItem">

        <label>

          <input type="checkbox" name="" id="">

          <span class="descripting">Естественные</span>

          <div class="clr"></div>

        </label>

      </div>

      <div class="catsItem">

        <label>

          <input type="checkbox" name="" id="">

          <span class="descripting">Гуманитарные</span>

          <div class="clr"></div>

        </label>

      </div>

      <div class="catsItem">

        <label>

          <input type="checkbox" name="" id="">

          <span class="descripting">Общественные</span>

          <div class="clr"></div>

        </label>

      </div>

      <div class="catsItem">

        <label>

          <input type="checkbox" name="" id="">

          <span class="descripting">Технические</span>

          <div class="clr"></div>

        </label>

      </div>

      <div class="catsItem">

        <label>

          <input type="checkbox" name="" id="">

          <span class="descripting">Математические и IT</span>

          <div class="clr"></div>

        </label>

      </div>



      <div class="catsItem">

        <label>

          <input type="checkbox" name="" id="">

          <span class="descripting">Любая</span>

          <div class="clr"></div>

        </label>

      </div>

    </div>

  </div>

  <div class="clr"></div>

  <span class="label fl">ЦЕЛЬ:</span>

  <div class="pchecks">

    <span class="opl"><input type="checkbox" name="" id="">ИССЛЕДОВАТЕЛЬСКАЯ ДЕЯТЕЛЬНОСТЬ</span>

    <span class="opl"><input type="checkbox" name="" id="">ОБУЧЕНИЕ</span>

    <span class="opl"><input type="checkbox" name="" id="">РЕАЛИЗАЦИЯ ПРОЕКТА</span>

    <span class="opl"><input type="checkbox" name="" id="">Любая</span>

  </div>

</div>

<div class="add"><a href="">ДОБАВИТЬ</a></div>

</form>

</div>

<div class="cont">

<form>

<div class="stext">ЯРМАРКА ВАКАНСИЙ, ПРЕЗЕНТАЦИЯ, МАСТЕР-КЛАСС, КЕЙС-ТУРНИР, КОНФЕРЕЦИЯ</div>

<span class="label">НАЗВАНИЕ</span><input type="text" class="name">

<div class="leftpart">

<span class="label">ОПИСАНИЕ</span>

<textarea name="" id=""></textarea>

<div class="clr"></div>



<div class="isideleft">

  <span class="label">СТРАНА</span><input type="text" class="text fr" style="width: 260px"><div class="clr"></div>

  <span class="label">ГОРОД</span><input type="text" class="text fr" style="width: 260px"><div class="clr"></div>

  <span class="label" style="float:left">УЛИЦА</span><div class="fr">

  <input type="text" class="text fl" style="width: 187px" />

  <span class="label" class="fl" style="margin: 0 5px; float:left;">ДОМ</span>

  <input type="text" class="text fr" style="width: 22px" />

</div>

  <span class="label">МЕСТО</span><input type="text" class="text fr" style="width: 260px"><div class="clr"></div>

</div>

<div class="isideright" id="map4">

  <script>

      function google_maps4() {

          var latlng = new google.maps.LatLng(49.83209,23.975322); // Координаты карты

          var settings = {

              zoom: 12, // Выставляем параметры зума для карты

              center: latlng,

              mapTypeControl: false,

              mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},

              navigationControl: true,

              navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},

              mapTypeId: google.maps.MapTypeId.ROADMAP

          };

          var map = new google.maps.Map(document.getElementById("map4"), settings); // Выбираем див куда ставить карту

          var myLatlng = new google.maps.LatLng(49.83209,23.975322);  // Координаты маркера

          var myOptions = {

              zoom: 12,  // Выставляем параметры зума для маркера

              center: myLatlng,

              mapTypeId: google.maps.MapTypeId.ROADMAP

          }

          var map = new google.maps.Map(document.getElementById("map4"), myOptions);  // Выбираем див куда ставить маркер

          var marker = new google.maps.Marker({

              position: myLatlng,

              map: map,

              title: "A"

          });

      }

  </script>

</div>



<script type="text/javascript">

    $("#map4init").click(function(){

        google_maps4();

    });



</script>



<div class="clr"></div>



<span class="label">ДАТА</span>

<div class="datesel300" style="width: 426px">

<div class="ws37">

  <select name="select_id0" id="selectday">

    <option value="opt_val_1">01</option>

    <option value="opt_val_2">02</option>

    <option value="opt_val_3">03</option>

    <option value="opt_val_4">04</option>

    <option value="opt_val_4">05</option>

    <option value="opt_val_4">06</option>

    <option value="opt_val_4">07</option>

    <option value="opt_val_4">08</option>

    <option value="opt_val_4">09</option>

    <option value="opt_val_4">10</option>

    <option value="opt_val_4">11</option>

    <option value="opt_val_4">12</option>

    <option value="opt_val_4">13</option>

    <option value="opt_val_4">14</option>

    <option value="opt_val_4">15</option>

    <option value="opt_val_4">16</option>

    <option value="opt_val_4">17</option>

    <option value="opt_val_4">18</option>

    <option value="opt_val_4">19</option>

    <option value="opt_val_4">20</option>

    <option value="opt_val_4">21</option>

    <option value="opt_val_4">22</option>

    <option value="opt_val_4">23</option>

    <option value="opt_val_4">24</option>

    <option value="opt_val_4">25</option>

    <option value="opt_val_4">26</option>

    <option value="opt_val_4">27</option>

    <option value="opt_val_4">28</option>

    <option value="opt_val_4">29</option>

    <option value="opt_val_4">30</option>

  </select>

</div>



<div class="ws88">

  <select name="select_id0" id="selectmonth">

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

  </select>

</div>



<div class="ws65">

  <select name="select_id0" id="selectyear">

    <option value="opt_val_1">2012</option>

    <option value="opt_val_1">2012</option>

    <option value="opt_val_1">2012</option>

    <option value="opt_val_1">2012</option>

    <option value="opt_val_1">2012</option>

    <option value="opt_val_1">2012</option>

    <option value="opt_val_1">2012</option>

  </select>

</div>



<span style="float: left; margin: 0 8px">С</span>



<div class="ws37">

  <select name="select_id0" id="selecthour">

    <option value="opt_val_1">01</option>

    <option value="opt_val_2">02</option>

    <option value="opt_val_3">03</option>

    <option value="opt_val_4">04</option>

    <option value="opt_val_4">05</option>

    <option value="opt_val_4">06</option>

    <option value="opt_val_4">07</option>

    <option value="opt_val_4">08</option>

    <option value="opt_val_4">09</option>

    <option value="opt_val_4">10</option>

    <option value="opt_val_4">11</option>

    <option value="opt_val_4">12</option>

    <option value="opt_val_4">13</option>

  </select>

</div>



<div class="ws37" style="margin: 0">

  <select name="select_id0" id="selectminute">

    <option value="opt_val_1">01</option>

    <option value="opt_val_2">02</option>

    <option value="opt_val_3">03</option>

    <option value="opt_val_4">04</option>

    <option value="opt_val_4">05</option>

    <option value="opt_val_4">06</option>

    <option value="opt_val_4">07</option>

    <option value="opt_val_4">08</option>

    <option value="opt_val_4">09</option>

    <option value="opt_val_4">10</option>

    <option value="opt_val_4">11</option>

    <option value="opt_val_4">12</option>

    <option value="opt_val_4">13</option>

  </select>

</div>

<span style="float: left; margin: 0 8px">ДО</span>



<div class="ws37">

  <select name="select_id0" id="selecthour">

    <option value="opt_val_1">01</option>

    <option value="opt_val_2">02</option>

    <option value="opt_val_3">03</option>

    <option value="opt_val_4">04</option>

    <option value="opt_val_4">05</option>

    <option value="opt_val_4">06</option>

    <option value="opt_val_4">07</option>

    <option value="opt_val_4">08</option>

    <option value="opt_val_4">09</option>

    <option value="opt_val_4">10</option>

    <option value="opt_val_4">11</option>

    <option value="opt_val_4">12</option>

    <option value="opt_val_4">13</option>

  </select>

</div>



<div class="ws37" style="margin: 0">

  <select name="select_id0" id="selectminute">

    <option value="opt_val_1">01</option>

    <option value="opt_val_2">02</option>

    <option value="opt_val_3">03</option>

    <option value="opt_val_4">04</option>

    <option value="opt_val_4">05</option>

    <option value="opt_val_4">06</option>

    <option value="opt_val_4">07</option>

    <option value="opt_val_4">08</option>

    <option value="opt_val_4">09</option>

    <option value="opt_val_4">10</option>

    <option value="opt_val_4">11</option>

    <option value="opt_val_4">12</option>

    <option value="opt_val_4">13</option>

  </select>

</div>

</div>



<span class="label">ССЫЛКА НА САЙТ ИЛИ РЕГИСТРАЦИЮ</span>

<input type="text" class="siteaddress">

<div class="clr"></div>



<span class="label">ПОСЛЕДНИЙ СРОК РЕГИСТРАЦИИ</span>

<div class="datesel300">

<div class="ws37">

  <select name="select_id0" id="selectday">

    <option value="opt_val_1">01</option>

    <option value="opt_val_2">02</option>

    <option value="opt_val_3">03</option>

    <option value="opt_val_4">04</option>

    <option value="opt_val_4">05</option>

    <option value="opt_val_4">06</option>

    <option value="opt_val_4">07</option>

    <option value="opt_val_4">08</option>

    <option value="opt_val_4">09</option>

    <option value="opt_val_4">10</option>

    <option value="opt_val_4">11</option>

    <option value="opt_val_4">12</option>

    <option value="opt_val_4">13</option>

    <option value="opt_val_4">14</option>

    <option value="opt_val_4">15</option>

    <option value="opt_val_4">16</option>

    <option value="opt_val_4">17</option>

    <option value="opt_val_4">18</option>

    <option value="opt_val_4">19</option>

    <option value="opt_val_4">20</option>

    <option value="opt_val_4">21</option>

    <option value="opt_val_4">22</option>

    <option value="opt_val_4">23</option>

    <option value="opt_val_4">24</option>

    <option value="opt_val_4">25</option>

    <option value="opt_val_4">26</option>

    <option value="opt_val_4">27</option>

    <option value="opt_val_4">28</option>

    <option value="opt_val_4">29</option>

    <option value="opt_val_4">30</option>

  </select>

</div>



<div class="ws88">

  <select name="select_id0" id="selectmonth">

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

  </select>

</div>



<div class="ws65">

  <select name="select_id0" id="selectyear">

    <option value="opt_val_1">2012</option>

    <option value="opt_val_1">2012</option>

    <option value="opt_val_1">2012</option>

    <option value="opt_val_1">2012</option>

    <option value="opt_val_1">2012</option>

    <option value="opt_val_1">2012</option>

    <option value="opt_val_1">2012</option>

  </select>

</div>



<span style="float: left; margin: 0 8px">ДО</span>



<div class="ws37">

  <select name="select_id0" id="selecthour">

    <option value="opt_val_1">01</option>

    <option value="opt_val_2">02</option>

    <option value="opt_val_3">03</option>

    <option value="opt_val_4">04</option>

    <option value="opt_val_4">05</option>

    <option value="opt_val_4">06</option>

    <option value="opt_val_4">07</option>

    <option value="opt_val_4">08</option>

    <option value="opt_val_4">09</option>

    <option value="opt_val_4">10</option>

    <option value="opt_val_4">11</option>

    <option value="opt_val_4">12</option>

    <option value="opt_val_4">13</option>

  </select>

</div>



<div class="ws37" style="margin: 0">

  <select name="select_id0" id="selectminute">

    <option value="opt_val_1">01</option>

    <option value="opt_val_2">02</option>

    <option value="opt_val_3">03</option>

    <option value="opt_val_4">04</option>

    <option value="opt_val_4">05</option>

    <option value="opt_val_4">06</option>

    <option value="opt_val_4">07</option>

    <option value="opt_val_4">08</option>

    <option value="opt_val_4">09</option>

    <option value="opt_val_4">10</option>

    <option value="opt_val_4">11</option>

    <option value="opt_val_4">12</option>

    <option value="opt_val_4">13</option>

  </select>

</div>

</div>

<div class="clr"></div>



<div class="manycheck">

  <div class="pchecks">

    <span class="opl"><input type="checkbox" name="" id="">НАУЧНЫЕ КОНФЕРЕНЦИЯ </span>

    <span class="opl"><input type="checkbox" name="" id="">КАРЬЕРНЫЕ СОБЫТИЕ</span>

  </div>

  <div class="clr"></div>

</div>

<div class="clr"></div>

<span class="label">СФЕРА:</span>

<div class="samvup sam1 sampk">

<div class="all">ВСЕ</div>

<div class="allCats">

<script type="text/javascript">

    $(document).ready(function () {

        $(".catsItem").click(function () {

            var a =$(this).find(".jqTransformCheckbox").hasClass("jqTransformChecked");

            if(a){

                $(this).find(".descripting").addClass("act");

            } else{

                $(this).find(".descripting").removeClass("act");

            };

        });

    });

</script>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

</div>

</div>



</div>

<div class="rightpart">

  <span class="label">ФОТО:</span>

  <div class="photo">

    <img src="images/photo.png" alt="" />

  </div>

</div>

<div class="clr"></div>



<div class="add"><a href="">ДОБАВИТЬ</a></div>

</form>

</div>

<div class="cont">

<form>



<span class="label">НАЗВАНИЕ</span><input type="text" class="name">

<div class="leftpart">

<span class="label">ОПИСАНИЕ</span>

<textarea name="" id=""></textarea>

<div class="clr"></div>



<div class="isideleft">

  <span class="label">СТРАНА</span><input type="text" class="text fr" style="width: 260px"><div class="clr"></div>

  <span class="label">ГОРОД</span><input type="text" class="text fr" style="width: 260px"><div class="clr"></div>

  <span class="label" style="float:left">УЛИЦА</span><div class="fr">

  <input type="text" class="text fl" style="width: 187px" />

  <span class="label" class="fl" style="margin: 0 5px; float:left;">ДОМ</span>

  <input type="text" class="text fr" style="width: 22px" />

</div>

  <span class="label">МЕСТО</span><input type="text" class="text fr" style="width: 260px"><div class="clr"></div>

</div>

<div class="isideright" id="map5">

  <script>

      function google_maps5() {

          var latlng = new google.maps.LatLng(49.83209,23.975322); // Координаты карты

          var settings = {

              zoom: 12, // Выставляем параметры зума для карты

              center: latlng,

              mapTypeControl: false,

              mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},

              navigationControl: true,

              navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},

              mapTypeId: google.maps.MapTypeId.ROADMAP

          };

          var map = new google.maps.Map(document.getElementById("map5"), settings); // Выбираем див куда ставить карту

          var myLatlng = new google.maps.LatLng(49.83209,23.975322);  // Координаты маркера

          var myOptions = {

              zoom: 12,  // Выставляем параметры зума для маркера

              center: myLatlng,

              mapTypeId: google.maps.MapTypeId.ROADMAP

          }

          var map = new google.maps.Map(document.getElementById("map5"), myOptions);  // Выбираем див куда ставить маркер

          var marker = new google.maps.Marker({

              position: myLatlng,

              map: map,

              title: "A"

          });

      }

  </script>

</div>



<script type="text/javascript">

    $("#map5init").click(function(){

        google_maps5();

    });



</script>



<div class="clr"></div>



<span class="label">ДАТА</span>

<div class="datesel300" style="width: 426px">

<div class="ws37">

  <select name="select_id0" id="selectday">

    <option value="opt_val_1">01</option>

    <option value="opt_val_2">02</option>

    <option value="opt_val_3">03</option>

    <option value="opt_val_4">04</option>

    <option value="opt_val_4">05</option>

    <option value="opt_val_4">06</option>

    <option value="opt_val_4">07</option>

    <option value="opt_val_4">08</option>

    <option value="opt_val_4">09</option>

    <option value="opt_val_4">10</option>

    <option value="opt_val_4">11</option>

    <option value="opt_val_4">12</option>

    <option value="opt_val_4">13</option>

    <option value="opt_val_4">14</option>

    <option value="opt_val_4">15</option>

    <option value="opt_val_4">16</option>

    <option value="opt_val_4">17</option>

    <option value="opt_val_4">18</option>

    <option value="opt_val_4">19</option>

    <option value="opt_val_4">20</option>

    <option value="opt_val_4">21</option>

    <option value="opt_val_4">22</option>

    <option value="opt_val_4">23</option>

    <option value="opt_val_4">24</option>

    <option value="opt_val_4">25</option>

    <option value="opt_val_4">26</option>

    <option value="opt_val_4">27</option>

    <option value="opt_val_4">28</option>

    <option value="opt_val_4">29</option>

    <option value="opt_val_4">30</option>

  </select>

</div>



<div class="ws88">

  <select name="select_id0" id="selectmonth">

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

  </select>

</div>



<div class="ws65">

  <select name="select_id0" id="selectyear">

    <option value="opt_val_1">2012</option>

    <option value="opt_val_1">2012</option>

    <option value="opt_val_1">2012</option>

    <option value="opt_val_1">2012</option>

    <option value="opt_val_1">2012</option>

    <option value="opt_val_1">2012</option>

    <option value="opt_val_1">2012</option>

  </select>

</div>



<span style="float: left; margin: 0 8px">С</span>



<div class="ws37">

  <select name="select_id0" id="selecthour">

    <option value="opt_val_1">01</option>

    <option value="opt_val_2">02</option>

    <option value="opt_val_3">03</option>

    <option value="opt_val_4">04</option>

    <option value="opt_val_4">05</option>

    <option value="opt_val_4">06</option>

    <option value="opt_val_4">07</option>

    <option value="opt_val_4">08</option>

    <option value="opt_val_4">09</option>

    <option value="opt_val_4">10</option>

    <option value="opt_val_4">11</option>

    <option value="opt_val_4">12</option>

    <option value="opt_val_4">13</option>

  </select>

</div>



<div class="ws37" style="margin: 0">

  <select name="select_id0" id="selectminute">

    <option value="opt_val_1">01</option>

    <option value="opt_val_2">02</option>

    <option value="opt_val_3">03</option>

    <option value="opt_val_4">04</option>

    <option value="opt_val_4">05</option>

    <option value="opt_val_4">06</option>

    <option value="opt_val_4">07</option>

    <option value="opt_val_4">08</option>

    <option value="opt_val_4">09</option>

    <option value="opt_val_4">10</option>

    <option value="opt_val_4">11</option>

    <option value="opt_val_4">12</option>

    <option value="opt_val_4">13</option>

  </select>

</div>

<span style="float: left; margin: 0 8px">ДО</span>



<div class="ws37">

  <select name="select_id0" id="selecthour">

    <option value="opt_val_1">01</option>

    <option value="opt_val_2">02</option>

    <option value="opt_val_3">03</option>

    <option value="opt_val_4">04</option>

    <option value="opt_val_4">05</option>

    <option value="opt_val_4">06</option>

    <option value="opt_val_4">07</option>

    <option value="opt_val_4">08</option>

    <option value="opt_val_4">09</option>

    <option value="opt_val_4">10</option>

    <option value="opt_val_4">11</option>

    <option value="opt_val_4">12</option>

    <option value="opt_val_4">13</option>

  </select>

</div>



<div class="ws37" style="margin: 0">

  <select name="select_id0" id="selectminute">

    <option value="opt_val_1">01</option>

    <option value="opt_val_2">02</option>

    <option value="opt_val_3">03</option>

    <option value="opt_val_4">04</option>

    <option value="opt_val_4">05</option>

    <option value="opt_val_4">06</option>

    <option value="opt_val_4">07</option>

    <option value="opt_val_4">08</option>

    <option value="opt_val_4">09</option>

    <option value="opt_val_4">10</option>

    <option value="opt_val_4">11</option>

    <option value="opt_val_4">12</option>

    <option value="opt_val_4">13</option>

  </select>

</div>

</div>



<span class="label">ССЫЛКА НА САЙТ ИЛИ РЕГИСТРАЦИЮ</span>

<input type="text" class="siteaddress">

<div class="clr"></div>



<span class="label">СРОК ПОДАЧИ ЗАЯВОК</span>

<div class="datesel300">

<div class="ws37">

  <select name="select_id0" id="selectday">

    <option value="opt_val_1">01</option>

    <option value="opt_val_2">02</option>

    <option value="opt_val_3">03</option>

    <option value="opt_val_4">04</option>

    <option value="opt_val_4">05</option>

    <option value="opt_val_4">06</option>

    <option value="opt_val_4">07</option>

    <option value="opt_val_4">08</option>

    <option value="opt_val_4">09</option>

    <option value="opt_val_4">10</option>

    <option value="opt_val_4">11</option>

    <option value="opt_val_4">12</option>

    <option value="opt_val_4">13</option>

    <option value="opt_val_4">14</option>

    <option value="opt_val_4">15</option>

    <option value="opt_val_4">16</option>

    <option value="opt_val_4">17</option>

    <option value="opt_val_4">18</option>

    <option value="opt_val_4">19</option>

    <option value="opt_val_4">20</option>

    <option value="opt_val_4">21</option>

    <option value="opt_val_4">22</option>

    <option value="opt_val_4">23</option>

    <option value="opt_val_4">24</option>

    <option value="opt_val_4">25</option>

    <option value="opt_val_4">26</option>

    <option value="opt_val_4">27</option>

    <option value="opt_val_4">28</option>

    <option value="opt_val_4">29</option>

    <option value="opt_val_4">30</option>

  </select>

</div>



<div class="ws88">

  <select name="select_id0" id="selectmonth">

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

    <option value="opt_val_1">августа</option>

  </select>

</div>



<div class="ws65">

  <select name="select_id0" id="selectyear">

    <option value="opt_val_1">2012</option>

    <option value="opt_val_1">2012</option>

    <option value="opt_val_1">2012</option>

    <option value="opt_val_1">2012</option>

    <option value="opt_val_1">2012</option>

    <option value="opt_val_1">2012</option>

    <option value="opt_val_1">2012</option>

  </select>

</div>



<span style="float: left; margin: 0 8px">ДО</span>



<div class="ws37">

  <select name="select_id0" id="selecthour">

    <option value="opt_val_1">01</option>

    <option value="opt_val_2">02</option>

    <option value="opt_val_3">03</option>

    <option value="opt_val_4">04</option>

    <option value="opt_val_4">05</option>

    <option value="opt_val_4">06</option>

    <option value="opt_val_4">07</option>

    <option value="opt_val_4">08</option>

    <option value="opt_val_4">09</option>

    <option value="opt_val_4">10</option>

    <option value="opt_val_4">11</option>

    <option value="opt_val_4">12</option>

    <option value="opt_val_4">13</option>

  </select>

</div>



<div class="ws37" style="margin: 0">

  <select name="select_id0" id="selectminute">

    <option value="opt_val_1">01</option>

    <option value="opt_val_2">02</option>

    <option value="opt_val_3">03</option>

    <option value="opt_val_4">04</option>

    <option value="opt_val_4">05</option>

    <option value="opt_val_4">06</option>

    <option value="opt_val_4">07</option>

    <option value="opt_val_4">08</option>

    <option value="opt_val_4">09</option>

    <option value="opt_val_4">10</option>

    <option value="opt_val_4">11</option>

    <option value="opt_val_4">12</option>

    <option value="opt_val_4">13</option>

  </select>

</div>

</div>



<div class="clr"></div>

<span class="label">СФЕРА:</span>

<div class="samvup sam1 sampk">

<div class="all">ВСЕ</div>

<div class="allCats">

<script type="text/javascript">

    $(document).ready(function () {

        $(".catsItem").click(function () {

            var a =$(this).find(".jqTransformCheckbox").hasClass("jqTransformChecked");

            if(a){

                $(this).find(".descripting").addClass("act");

            } else{

                $(this).find(".descripting").removeClass("act");

            };

        });

    });

</script>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

</div>

</div>

</div>

<div class="rightpart">

  <span class="label">ЗАГРУЗИТЬ ЛОГОТИП</span>

  <div class="photo">

    <img src="images/photo_22.png" alt="" />

  </div>

</div>

<div class="clr"></div>



<div class="manycheck">

  <div class="pchecks">

    <span class="opl nopaid"><input type="checkbox" name="" id="">НЕОПЛАЧИВАЕМАЯ</span>

    <span class="opl paid"><input type="checkbox" name="" id="">ОПЛАЧИВАЕМАЯ</span>

  </div>

  <div class="clr"></div>

</div>

<div class="clr"></div>



<span class="label fl" style="margin-right: 20px">ЗАНЯТОСТЬ:</span>

<div class="manycheck">

  <div class="pchecks">

    <span class="opl"><input type="checkbox" name="" id="">ЧАСТИЧНАЯ </span>

    <span class="opl"><input type="checkbox" name="" id="">ПОЛНАЯ</span>

    <span class="opl"><input type="checkbox" name="" id="">УДАЛЕННАЯ РОБОТА</span>

  </div>

  <div class="clr"></div>

</div>



<div class="add"><a href="">ДОБАВИТЬ</a></div>

</form>

</div>

</div>

</div>

<script type="text/javascript">

    $(".navregister .control .controls").click(function(){

        $(".navregister .control .controls").removeClass('active');

        $(this).addClass('active');

        $('.navregister .tabsformsblock .cont').removeClass('visible');

        $('.navregister .tabsformsblock .cont').eq($(this).index()).addClass('visible');

    });



    $(".navadd .control .controls").click(function(){

        $(".navadd .control .controls").removeClass('active');

        $(this).addClass('active');

        $('.navadd .tabsformsblock .cont').removeClass('visible');

        $('.navadd .tabsformsblock .cont').eq($(this).index()).addClass('visible');

    });



    $(document).ready(function(){

        $('.button, .tabsformsblock .cont, .nav .control .controls').click(function(event){

            event.stopPropagation();

        });

    }).click(function(){

                $(".regWup").removeClass('regWupact');

                $("#headerWrap .reg").removeClass('btnactiv');



                $(".eddWup").removeClass('eddWupact');

                $("#headerWrap .edd").removeClass('btnactiv');





                $('.bbg').removeClass('bbgvisible');

            });

</script>

</div>

</div>

</header>

<div class="clr"></div>

</div>

<div id="content">

<div class="filterMain">

<script type="text/javascript" src="js/jquery.jqtransform.js"></script>

<script type="text/javascript">

    $(function(){

        $('.fjqtrans, .catsItem, .pchecks').jqTransform();

    });

</script>

<script type="text/javascript" src="js/sliding.js"></script>

<div class="filterStaz ffscr">

<span class="lanelHead sizeBig"><span>Стажировки</span> <span class="fjqtrans"><input type="checkbox" checked name="" id=""></span></span>

<span class="numerick">140</span>

<div class="clr"></div>

<div class="vupad">

<span class="naming">Сфера</span>



<div class="samvup sam1">

<div class="all">ВСЕ</div>

<div class="allCats">

<script type="text/javascript">

    $(document).ready(function () {

        $(".catsItem").click(function () {

            var a =$(this).find(".jqTransformCheckbox").hasClass("jqTransformChecked");

            if(a){

                $(this).find(".descripting").addClass("act");

            } else{

                $(this).find(".descripting").removeClass("act");

            };

        });

    });

</script>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

<div class="catsItem">

  <label>

    <input type="checkbox" name="" id="">

    <span class="descripting">Промышленность, производство</span>

    <div class="clr"></div>

  </label>

</div>

</div>

</div>

<span class="naming">Компания</span>

<div class="samvup sam2">

  <div class="all">ВСЕ</div>

  <div class="allCats">

    <script type="text/javascript">

        $(document).ready(function () {
            $(".descripting, .jqTransformCheckbox").click(function () {
                $(this).parents(".catsItem").find(".descripting").toggleClass("act");
            });
        });

    </script>

    <div class="catsItem">

      <label>

        <input type="checkbox" name="" id="">

        <span class="descripting">Промышленность, производство</span>

        <div class="clr"></div>

      </label>

    </div>

    <div class="catsItem">

      <label>

        <input type="checkbox" name="" id="">

        <span class="descripting">Промышленность, производство</span>

        <div class="clr"></div>

      </label>

    </div>

    <div class="catsItem">

      <label>

        <input type="checkbox" name="" id="">

        <span class="descripting">Промышленность, производство</span>

        <div class="clr"></div>

      </label>

    </div>

    <div class="catsItem">

      <label>

        <input type="checkbox" name="" id="">

        <span class="descripting">Промышленность, производство</span>

        <div class="clr"></div>

      </label>

    </div>

    <div class="catsItem">

      <label>

        <input type="checkbox" name="" id="">

        <span class="descripting">Промышленность, производство</span>

        <div class="clr"></div>

      </label>

    </div>

    <div class="catsItem">

      <label>

        <input type="checkbox" name="" id="">

        <span class="descripting">Промышленность, производство</span>

        <div class="clr"></div>

      </label>

    </div>

    <div class="catsItem">

      <label>

        <input type="checkbox" name="" id="">

        <span class="descripting">Промышленность, производство</span>

        <div class="clr"></div>

      </label>

    </div>

    <div class="catsItem">

      <label>

        <input type="checkbox" name="" id="">

        <span class="descripting">Промышленность, производство</span>

        <div class="clr"></div>

      </label>

    </div>

    <div class="catsItem">

      <label>

        <input type="checkbox" name="" id="">

        <span class="descripting">Промышленность, производство</span>

        <div class="clr"></div>

      </label>

    </div>

    <div class="catsItem">

      <label>

        <input type="checkbox" name="" id="">

        <span class="descripting">Промышленность, производство</span>

        <div class="clr"></div>

      </label>

    </div>

    <div class="catsItem">

      <label>

        <input type="checkbox" name="" id="">

        <span class="descripting">Промышленность, производство</span>

        <div class="clr"></div>

      </label>

    </div>

    <div class="catsItem">

      <label>

        <input type="checkbox" name="" id="">

        <span class="descripting">Промышленность, производство</span>

        <div class="clr"></div>

      </label>

    </div>

    <div class="catsItem">

      <label>

        <input type="checkbox" name="" id="">

        <span class="descripting">Промышленность, производство</span>

        <div class="clr"></div>

      </label>

    </div>

  </div>

</div>

<div class="clr"></div>

</div>

<div class="pchecks">

  Оплата:

  <span class="opl"><input type="checkbox" name="" id="">Неоплачиваемая</span>

  <span class="opl"><input type="checkbox" name="" id="">оплачиваемая</span>

</div>

</div>

<div class="filterSob ffscr">

<span class="lanelHead sizeBig"><span>События</span> <span class="fjqtrans"><input type="checkbox" checked name="" id=""></span></span>

<span class="numerick">15</span>

<div class="vupad">

<span class="naming">Сфера</span>

<div class="samvup sam1">

  <div class="all">ВСЕ</div>

  <div class="allCats">

    <div class="catsItem">

      <label>

        <input type="checkbox" name="" id="">

        <span class="descripting">Промышленность, производство</span>

        <div class="clr"></div>

      </label>

    </div>

    <div class="catsItem">

      <label>

        <input type="checkbox" name="" id="">

        <span class="descripting">Промышленность, производство</span>

        <div class="clr"></div>

      </label>

    </div>

    <div class="catsItem">

      <label>

        <input type="checkbox" name="" id="">

        <span class="descripting">Промышленность, производство</span>

        <div class="clr"></div>

      </label>

    </div>

    <div class="catsItem">

      <label>

        <input type="checkbox" name="" id="">

        <span class="descripting">Промышленность, производство</span>

        <div class="clr"></div>

      </label>

    </div>

    <div class="catsItem">

      <label>

        <input type="checkbox" name="" id="">

        <span class="descripting">Промышленность, производство</span>

        <div class="clr"></div>

      </label>

    </div>

    <div class="catsItem">

      <label>

        <input type="checkbox" name="" id="">

        <span class="descripting">Промышленность, производство</span>

        <div class="clr"></div>

      </label>

    </div>

    <div class="catsItem">

      <label>

        <input type="checkbox" name="" id="">

        <span class="descripting">Промышленность, производство</span>

        <div class="clr"></div>

      </label>

    </div>

    <div class="catsItem">

      <label>

        <input type="checkbox" name="" id="">

        <span class="descripting">Промышленность, производство</span>

        <div class="clr"></div>

      </label>

    </div>

    <div class="catsItem">

      <label>

        <input type="checkbox" name="" id="">

        <span class="descripting">Промышленность, производство</span>

        <div class="clr"></div>

      </label>

    </div>

    <div class="catsItem">

      <label>

        <input type="checkbox" name="" id="">

        <span class="descripting">Промышленность, производство</span>

        <div class="clr"></div>

      </label>

    </div>

    <div class="catsItem">

      <label>

        <input type="checkbox" name="" id="">

        <span class="descripting">Промышленность, производство</span>

        <div class="clr"></div>

      </label>

    </div>

    <div class="catsItem">

      <label>

        <input type="checkbox" name="" id="">

        <span class="descripting">Промышленность, производство</span>

        <div class="clr"></div>

      </label>

    </div>

    <div class="catsItem">

      <label>

        <input type="checkbox" name="" id="">

        <span class="descripting">Промышленность, производство</span>

        <div class="clr"></div>

      </label>

    </div>

  </div>

</div>

<div class="pchecks">

  <span class="opl"><input type="checkbox" name="" id="">Научные конференции</span>

  <span class="opl"><input type="checkbox" name="" id="">Карьерные события</span>

</div>

<div class="clr"></div>

</div>

</div>

<div class="filterGran ffscr">

<span class="lanelHead sizeBig"><span>Гранты</span> <span class="fjqtrans"><input type="checkbox" checked name="" id=""></span></span>

<span class="numerick">39</span>
<div class="vupad">

  <span class="naming">Сфера</span>

  <div class="samvup sam1">

    <div class="all">ВСЕ</div>

    <div class="allCats">

      <div class="catsItem">

        <label>

          <input type="checkbox" name="" id="">

          <span class="descripting">Промышленность, производство</span>

          <div class="clr"></div>

        </label>

      </div>

      <div class="catsItem">

        <label>

          <input type="checkbox" name="" id="">

          <span class="descripting">Промышленность, производство</span>

          <div class="clr"></div>

        </label>

      </div>

      <div class="catsItem">

        <label>

          <input type="checkbox" name="" id="">

          <span class="descripting">Промышленность, производство</span>

          <div class="clr"></div>

        </label>

      </div>

      <div class="catsItem">

        <label>

          <input type="checkbox" name="" id="">

          <span class="descripting">Промышленность, производство</span>

          <div class="clr"></div>

        </label>

      </div>

      <div class="catsItem">

        <label>

          <input type="checkbox" name="" id="">

          <span class="descripting">Промышленность, производство</span>

          <div class="clr"></div>

        </label>

      </div>

      <div class="catsItem">

        <label>

          <input type="checkbox" name="" id="">

          <span class="descripting">Промышленность, производство</span>

          <div class="clr"></div>

        </label>

      </div>

      <div class="catsItem">

        <label>

          <input type="checkbox" name="" id="">

          <span class="descripting">Промышленность, производство</span>

          <div class="clr"></div>

        </label>

      </div>

      <div class="catsItem">

        <label>

          <input type="checkbox" name="" id="">

          <span class="descripting">Промышленность, производство</span>

          <div class="clr"></div>

        </label>

      </div>

      <div class="catsItem">

        <label>

          <input type="checkbox" name="" id="">

          <span class="descripting">Промышленность, производство</span>

          <div class="clr"></div>

        </label>

      </div>

      <div class="catsItem">

        <label>

          <input type="checkbox" name="" id="">

          <span class="descripting">Промышленность, производство</span>

          <div class="clr"></div>

        </label>

      </div>

      <div class="catsItem">

        <label>

          <input type="checkbox" name="" id="">

          <span class="descripting">Промышленность, производство</span>

          <div class="clr"></div>

        </label>

      </div>

      <div class="catsItem">

        <label>

          <input type="checkbox" name="" id="">

          <span class="descripting">Промышленность, производство</span>

          <div class="clr"></div>

        </label>

      </div>

      <div class="catsItem">

        <label>

          <input type="checkbox" name="" id="">

          <span class="descripting">Промышленность, производство</span>

          <div class="clr"></div>

        </label>

      </div>

    </div>

  </div>

  <div class="clr"></div>

</div>

<div class="pchecks" style="left:0;">
  Цели
  <span class="opl"><input type="checkbox" name="" id="">Цель 1</span>
  <span class="opl"><input type="checkbox" name="" id="">Цель 2</span>
  <span class="opl"><input type="checkbox" name="" id="">Цель 3</span>
  <span class="opl"><input type="checkbox" name="" id="">Цель 4</span>
  <span class="opl"><input type="checkbox" name="" id="">Цель 5</span>
  <span class="opl"><input type="checkbox" name="" id="">Цель 6</span>

</div>

</div>

</div>

<div class="clr"></div>

<div class="monih12">

<div class="moncon">

  <img src="images/jan.png" alt="" class="w203">

</div>

<div class="moncon">

<!--<img src="images/feb.png" alt="">-->

<div class="monthcont yel">

  <span>16 октября 2012</span>

  <span class="spright">стажировка</span>

  <img src="images/contimg4.png" alt="">

  <span>Новая Голландия</span>

  <span class="spright">14:00</span>

  <span class="spsize">GeekPicnic</span>

  <div class="clr"></div>

</div>

<section class="pk_popup train">

  <div class="close_popup"></div>

  <div class="head">

    <h2>НАЗВАНИЕ ПАРАРАМ — СТАЖИРОВКА</h2>

    <div class="social">

      <a href="" class="facebook"></a>

      <a href="" class="twitter"></a>

      <a href="" class="vk"></a>

    </div>

    <div class="clr"></div>

  </div>



  <div class="lside">

    <img src="images/trainimg.png" alt="" class="previmg" />

    <div class="catsItem addtocallendar">

      <label>

        <input type="checkbox" name="" id="">

        <span class="descripting">ДОБАВИТЬ В МОЙ КАЛЕНДАРЬ</span>

        <div class="clr"></div>

      </label>

    </div>

    <!-- <div class="addtocallendar"><label for="">ДОБАВИТЬ В МОЙ КАЛЕНДАРЬ <input type="checkbox" /></label></div> -->

  </div>

  <div class="rside">

    <p>Британский нейрохирург и автор множества статей про научный атеизм Джонатан Парараджасингхем смонтировал видеозапись, в которой собрал воедино 50 интервью с признанными мыслителями в области физики, химии, философии и психологии. Они поделились своим мнением о вере в бога и жизни после смерти. Ноам Хомский, Бертран Рассел и Гарольд Крото — «Теории и практики» публикуют подборку самых интересных высказываний о религии.</p>



    <h3>УСЛОВИЯ УЧАСТИЯ:</h3>



    <p>Британский нейрохирург и автор множества статей про научный атеизм Джонатан Парараджасингхем смонтировал видеозапись, в которой собрал воедино 50 интервью с признанными мыслителями в области физики, химии, философии и психологии. Они поделились своим мнением о вере в бога и жизни после смерти. Ноам Хомский, Бертран Рассел и Гарольд Крото — «Теории и практики» публикуют подборку самых интересных </p>



    <div class="trainleft">

      <div class="trainstatus">

        <div class="nopaid">НЕОПЛАЧИВАЕМАЯ</div>

      </div>

      <div class="date_wrap">

        <div class="date">16 октября 2012</div>

        <div class="time">C <span class="from">14:00</span> ДО <span class="to">23:00</span></div>

      </div>

      <div class="whoadd">

        <img src="images/ava.png" alt="" />

        <div class="text">

          ДОБАВИЛ:

          <div class="username"><a href="">ПИРОГОВА НАТАЛЬЯ</a></div>

        </div>

      </div>



      <div id="map" class="mapwrap">

        <script>

            function google_maps() {

                var latlng = new google.maps.LatLng(49.83209,23.975322); // Координаты карты

                var settings = {

                    zoom: 12, // Выставляем параметры зума для карты

                    center: latlng,

                    mapTypeControl: false,

                    mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},

                    navigationControl: true,

                    navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},

                    mapTypeId: google.maps.MapTypeId.ROADMAP

                };

                var map = new google.maps.Map(document.getElementById("map"), settings); // Выбираем див куда ставить карту

                var myLatlng = new google.maps.LatLng(49.83209,23.975322);  // Координаты маркера

                var myOptions = {

                    zoom: 12,  // Выставляем параметры зума для маркера

                    center: myLatlng,

                    mapTypeId: google.maps.MapTypeId.ROADMAP

                }

                var map = new google.maps.Map(document.getElementById("map"), myOptions);  // Выбираем див куда ставить маркер

                var marker = new google.maps.Marker({

                    position: myLatlng,

                    map: map,

                    title: "A"

                });

            }

        </script>

      </div>

    </div>

    <div class="trainright">

      <div class="takepart">ЗАНЯТОСТЬ: <span class="def">ЧАСТИЧНАЯ</span></div>

      <h3>ПОСЛЕДНИЙ СРОК ПОДАЧИ ЗАЯВОК:</h3>



      <div class="term">25 ИЮЛЯ 2012</div>

      <a href="">www.ssilka.ru</a>



      <div class="address">

        Новая Голландия <br />

        Санкт-Петербург, <br />

        Набережная Адмиралтейского канала, 2  <br />

        "Айрис Новая Голландия":  +7 (812) 456 76 37  <br />

        "Лето в Новой Голландии":  +7 (812) 971 05 10

      </div>

    </div>

    <div class="clr"></div>



  </div>

  <div class="clr"></div>

</section>



</div>

<div class="moncon">

<!--<img src="images/mar.png" alt="">-->

<div class="monthcont vio">

  <span>16 октября 2012</span>

  <span class="spright">стажировка</span>

  <img src="images/contimg5.png" alt="">

  <span>Новая Голландия</span>

  <span class="spright">14:00</span>

  <span class="spsize">GeekPicnic</span>

</div>

<section class="pk_popup train">

  <div class="close_popup"></div>

  <div class="head">

    <h2>НАЗВАНИЕ ПАРАРАМ — СТАЖИРОВКА</h2>

    <div class="social">

      <a href="" class="facebook"></a>

      <a href="" class="twitter"></a>

      <a href="" class="vk"></a>

    </div>

    <div class="clr"></div>

  </div>



  <div class="lside">

    <img src="images/trainimg.png" alt="" class="previmg" />

    <div class="catsItem addtocallendar">

      <label>

        <input type="checkbox" name="" id="">

        <span class="descripting">ДОБАВИТЬ В МОЙ КАЛЕНДАРЬ</span>

        <div class="clr"></div>

      </label>

    </div>

  </div>

  <div class="rside">

    <p>Британский нейрохирург и автор множества статей про научный атеизм Джонатан Парараджасингхем смонтировал видеозапись, в которой собрал воедино 50 интервью с признанными мыслителями в области физики, химии, философии и психологии. Они поделились своим мнением о вере в бога и жизни после смерти. Ноам Хомский, Бертран Рассел и Гарольд Крото — «Теории и практики» публикуют подборку самых интересных высказываний о религии.</p>



    <h3>УСЛОВИЯ УЧАСТИЯ:</h3>



    <p>Британский нейрохирург и автор множества статей про научный атеизм Джонатан Парараджасингхем смонтировал видеозапись, в которой собрал воедино 50 интервью с признанными мыслителями в области физики, химии, философии и психологии. Они поделились своим мнением о вере в бога и жизни после смерти. Ноам Хомский, Бертран Рассел и Гарольд Крото — «Теории и практики» публикуют подборку самых интересных </p>



    <div class="trainleft">

      <div class="trainstatus">

        <div class="nopaid">НЕОПЛАЧИВАЕМАЯ</div>

      </div>

      <div class="date_wrap">

        <div class="date">16 октября 2012</div>

        <div class="time">C <span class="from">14:00</span> ДО <span class="to">23:00</span></div>

      </div>

      <div class="whoadd">

        <img src="images/ava.png" alt="" />

        <div class="text">

          ДОБАВИЛ:

          <div class="username"><a href="">ПИРОГОВА НАТАЛЬЯ</a></div>

        </div>

      </div>



      <div id="map" class="mapwrap">

        <script>

            function google_maps() {

                var latlng = new google.maps.LatLng(49.83209,23.975322); // Координаты карты

                var settings = {

                    zoom: 12, // Выставляем параметры зума для карты

                    center: latlng,

                    mapTypeControl: false,

                    mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},

                    navigationControl: true,

                    navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},

                    mapTypeId: google.maps.MapTypeId.ROADMAP

                };

                var map = new google.maps.Map(document.getElementById("map"), settings); // Выбираем див куда ставить карту

                var myLatlng = new google.maps.LatLng(49.83209,23.975322);  // Координаты маркера

                var myOptions = {

                    zoom: 12,  // Выставляем параметры зума для маркера

                    center: myLatlng,

                    mapTypeId: google.maps.MapTypeId.ROADMAP

                }

                var map = new google.maps.Map(document.getElementById("map"), myOptions);  // Выбираем див куда ставить маркер

                var marker = new google.maps.Marker({

                    position: myLatlng,

                    map: map,

                    title: "A"

                });

            }

        </script>

      </div>

    </div>

    <div class="trainright">

      <div class="takepart">ЗАНЯТОСТЬ: <span class="def">ЧАСТИЧНАЯ</span></div>

      <h3>ПОСЛЕДНИЙ СРОК ПОДАЧИ ЗАЯВОК:</h3>



      <div class="term">25 ИЮЛЯ 2012</div>

      <a href="">www.ssilka.ru</a>



      <div class="address">

        Новая Голландия <br />

        Санкт-Петербург, <br />

        Набережная Адмиралтейского канала, 2  <br />

        "Айрис Новая Голландия":  +7 (812) 456 76 37  <br />

        "Лето в Новой Голландии":  +7 (812) 971 05 10

      </div>

    </div>

    <div class="clr"></div>



  </div>

  <div class="clr"></div>

</section>

</div>

<div class="moncon">

  <!--<img src="images/apr.png" alt="">-->

  <div class="monthcont gre">

    <span>16 октября 2012</span>

    <span class="spright">стажировка</span>

    <img src="images/contimg6.png" alt="">

    <span>Новая Голландия</span>

    <span class="spright">14:00</span>

    <span class="spsize">GeekPicnic</span>

  </div>

  <section class="pk_popup event">

    <div class="close_popup"></div>

    <div class="head">

      <h2>НАЗВАНИЕ ПАРАРАМ — СОБЫТИЕ</h2>

      <div class="social">

        <a href="" class="facebook"></a>

        <a href="" class="twitter"></a>

        <a href="" class="vk"></a>

      </div>

      <div class="clr"></div>

    </div>



    <div class="lside">

      <img src="images/previmg.png" alt="" class="previmg" />

      <div class="catsItem addtocallendar">

        <label>

          <input type="checkbox" name="" id="">

          <span class="descripting">ДОБАВИТЬ В МОЙ КАЛЕНДАРЬ</span>

          <div class="clr"></div>

        </label>

      </div>

      <div class="date_wrap">

        <div class="date">16 октября 2012</div>

        <div class="time">C <span class="from">14:00</span> ДО <span class="to">23:00</span></div>

      </div>

      <div class="whoadd">

        <img src="images/ava.png" alt="" />

        <div class="text">

          ДОБАВИЛ:

          <div class="username"><a href="">ПИРОГОВА НАТАЛЬЯ</a></div>

        </div>

      </div>

      <div class="address">

        Новая Голландия <br />

        Санкт-Петербург, <br />

        Набережная Адмиралтейского канала, 2  <br />

        "Айрис Новая Голландия":  +7 (812) 456 76 37  <br />

        "Лето в Новой Голландии":  +7 (812) 971 05 10

      </div>

    </div>

    <div class="rside">

      <p>Британский нейрохирург и автор множества статей про научный атеизм Джонатан Парараджасингхем смонтировал видеозапись, в которой собрал воедино 50 интервью с признанными мыслителями в области физики, химии, философии и психологии. Они поделились своим мнением о вере в бога и жизни после смерти. Ноам Хомский, Бертран Рассел и Гарольд Крото — «Теории и практики» публикуют подборку самых интересных высказываний о религии.</p>



      <h3>УСЛОВИЯ УЧАСТИЯ:</h3>



      <p>Британский нейрохирург и автор множества статей про научный атеизм Джонатан Парараджасингхем смонтировал видеозапись, в которой собрал воедино 50 интервью с признанными мыслителями в области физики, химии, философии и психологии. Они поделились своим мнением о вере в бога и жизни после смерти. Ноам Хомский, Бертран Рассел и Гарольд Крото — «Теории и практики» публикуют подборку самых интересных </p>



      <h3>ПОСЛЕДНИЙ СРОК РЕГИСТРАЦИИ:</h3>



      <div class="term">25 ИЮЛЯ 2012</div>

      <a href="">www.ssilka.ru</a>



      <div id="map3" class="mapwrap">

        <script>

            function google_maps3() {

                var latlng = new google.maps.LatLng(49.83209,23.975322); // Координаты карты

                var settings = {

                    zoom: 12, // Выставляем параметры зума для карты

                    center: latlng,

                    mapTypeControl: false,

                    mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},

                    navigationControl: true,

                    navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},

                    mapTypeId: google.maps.MapTypeId.ROADMAP

                };

                var map = new google.maps.Map(document.getElementById("map3"), settings); // Выбираем див куда ставить карту

                var myLatlng = new google.maps.LatLng(49.83209,23.975322);  // Координаты маркера

                var myOptions = {

                    zoom: 12,  // Выставляем параметры зума для маркера

                    center: myLatlng,

                    mapTypeId: google.maps.MapTypeId.ROADMAP

                }

                var map = new google.maps.Map(document.getElementById("map3"), myOptions);  // Выбираем див куда ставить маркер

                var marker = new google.maps.Marker({

                    position: myLatlng,

                    map: map,

                    title: "A"

                });

            }

        </script>

      </div>

    </div>



    <div class="clr"></div>

  </section>

</div>

<div class="moncon">

  <!--<img src="images/may.png" alt="">-->

  <div class="monthcont bla">

    <span>16 октября 2012</span>

    <span class="spright">стажировка</span>

    <img src="images/contimg4.png" alt="">

    <span>Новая Голландия</span>

    <span class="spright">14:00</span>

    <span class="spsize">GeekPicnic</span>

  </div>

  <section class="pk_popup grant">

    <div class="close_popup"></div>

    <div class="head">

      <h2>НАЗВАНИЕ ПАРАРАМ — ГРАНТ</h2>

      <div class="social">

        <a href="" class="facebook"></a>

        <a href="" class="twitter"></a>

        <a href="" class="vk"></a>

      </div>

      <div class="clr"></div>

    </div>



    <div class="lside">

      <img src="images/previmg.png" alt="" class="previmg" />

      <div class="catsItem addtocallendar">

        <label>

          <input type="checkbox" name="" id="">

          <span class="descripting">ДОБАВИТЬ В МОЙ КАЛЕНДАРЬ</span>

          <div class="clr"></div>

        </label>

      </div>

      <div class="date_wrap">

        <div class="date">16 октября 2012</div>

        <div class="time">C <span class="from">14:00</span> ДО <span class="to">23:00</span></div>

      </div>

      <div class="whoadd">

        <img src="images/ava.png" alt="" />

        <div class="text">

          ДОБАВИЛ:

          <div class="username"><a href="">ПИРОГОВА НАТАЛЬЯ</a></div>

        </div>

      </div>

      <div class="address">

        Новая Голландия <br />

        Санкт-Петербург, <br />

        Набережная Адмиралтейского канала, 2  <br />

        "Айрис Новая Голландия":  +7 (812) 456 76 37  <br />

        "Лето в Новой Голландии":  +7 (812) 971 05 10

      </div>

    </div>

    <div class="rside">

      <p>Британский нейрохирург и автор множества статей про научный атеизм Джонатан Парараджасингхем смонтировал видеозапись, в которой собрал воедино 50 интервью с признанными мыслителями в области физики, химии, философии и психологии. Они поделились своим мнением о вере в бога и жизни после смерти. Ноам Хомский, Бертран Рассел и Гарольд Крото — «Теории и практики» публикуют подборку самых интересных высказываний о религии.</p>



      <h3>УСЛОВИЯ УЧАСТИЯ:</h3>



      <p>Британский нейрохирург и автор множества статей про научный атеизм Джонатан Парараджасингхем смонтировал видеозапись, в которой собрал воедино 50 интервью с признанными мыслителями в области физики, химии, философии и психологии. Они поделились своим мнением о вере в бога и жизни после смерти. Ноам Хомский, Бертран Рассел и Гарольд Крото — «Теории и практики» публикуют подборку самых интересных </p>



      <h3>СРОК ПОДАЧИ ЗАЯВОК:</h3>



      <div class="term">25 ИЮЛЯ 2012</div>

      <a href="">www.ssilka.ru</a>



      <div id="map2" class="mapwrap">

        <script>

            function google_maps2() {

                var latlng = new google.maps.LatLng(49.83209,23.975322); // Координаты карты

                var settings = {

                    zoom: 12, // Выставляем параметры зума для карты

                    center: latlng,

                    mapTypeControl: false,

                    mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},

                    navigationControl: true,

                    navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},

                    mapTypeId: google.maps.MapTypeId.ROADMAP

                };

                var map = new google.maps.Map(document.getElementById("map2"), settings); // Выбираем див куда ставить карту

                var myLatlng = new google.maps.LatLng(49.83209,23.975322);  // Координаты маркера

                var myOptions = {

                    zoom: 12,  // Выставляем параметры зума для маркера

                    center: myLatlng,

                    mapTypeId: google.maps.MapTypeId.ROADMAP

                }

                var map = new google.maps.Map(document.getElementById("map2"), myOptions);  // Выбираем див куда ставить маркер

                var marker = new google.maps.Marker({

                    position: myLatlng,

                    map: map,

                    title: "A"

                });

            }

        </script>

      </div>

    </div>



    <div class="clr"></div>

  </section>

</div>

<div class="moncon">

  <img src="images/june.png" alt="" class="w203">

</div>

<div class="moncon">

  <img src="images/july.png" alt="" class="w203">

</div>

<div class="moncon">

  <img src="images/aug.png" alt="" class="w203">

</div>

<div class="moncon">

  <img src="images/sept.png" alt="" class="w203">

</div>

<div class="moncon">

  <img src="images/oct.png" alt="" class="w203">

</div>

<div class="moncon">

  <img src="images/nov.png" alt="" class="w203">

</div>

<div class="moncon">

  <img src="images/dec.png" alt="" class="w203">

</div>



<script type="text/javascript" language="javascript">

    $(".moncon").click(function () {

        google_maps();

        google_maps2();

        google_maps3();



        $('.pk_popup').css({'display':'none'});

        $('.bbg').addClass('bbgvisible');

        $(this).children(".pk_popup").fadeIn(600);

        var w = ($(this).children(".pk_popup").width())/2;

        $(this).children(".pk_popup").css({'margin-top':-w});

    });



    $(".close_popup").click(function () {
        $('.bbg').removeClass('bbgvisible');
        $(this).parent(".pk_popup").fadeOut(600);

    });



    $(document).ready(function(){

        $('.pk_popup, .moncon').click(function(event){

            event.stopPropagation();

        });

    }).click(function(){
                $('.bbg').removeClass('bbgvisible');
                $('.pk_popup').fadeOut(200);


            });

</script>

</div>



<div class="clr"></div>

<div class="clr"></div>

</div><!--content-->

</div>

<div id="footerWrap">

  <footer>

    <p class="footcont">Этот сайт посвящен Центру Карьеры – центру, который организует всевозможные мероприятия для поиска работы и стажировки в ведущих компаниях города Петербурга, Москвы и других городах России, различные семинары и тренинги для успешной карьеры в любой сфере.</p>

    <div class="clr"></div>

  </footer>

  <div class="footdown">

    <div class="footdownwrap">

      <ul>

        <li><a href="#">О ЦЕНТРЕ КАРЬЕРЫ</a></li>

        <li><a href="#">КОМАНДА</a></li>

        <li><a href="#">УСЛУГИ</a></li>

        <li><a href="#">ПРАВИЛА ПОЛЬЗОВАНИЯ</a></li>

        <li><a href="#">КОНТАКТЫ</a></li>

      </ul>

    </div>

  </div>

</div>

</body>

</html>